@attribute [Stories("Example/Header")]

<Stories TComponent="Header" Layout="typeof(NoMarginLayout)">

    <Story Name="Logged Out">
        <Template>
            <Header @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Logged In">
        <Arguments>
            <Arg For="_ => _.User" Value="_DefaultUser" />
        </Arguments>
        <Template>
            <Header @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Long User Name" Layout="typeof(FullFrameLayout)">
        <Arguments>
            <Arg For="_ => _.User" Value="_LongNameUser" />
        </Arguments>
        <Template>
            <Header @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Callbacks Demo">
        <Template>
            <Header OnLogin="OnLogin"
                    OnLogout="OnLogout"
                    OnCreateAccount="OnCreateAccount"
                    @attributes="context.Args" />

            <p style="margin-top: 12px;">
                <b>Last Action:</b> @(_LastAction ?? "(none)")
            </p>
        </Template>
    </Story>

</Stories>

@code
{
    private readonly User _DefaultUser = new() { Name = "Jane Doe" };

    private readonly User _LongNameUser = new() { Name = "Alexandria Example Johnson" };

    private string? _LastAction;

    private void OnLogin()
    {
        this._LastAction = "Login clicked";
    }

    private void OnLogout()
    {
        this._LastAction = "Logout clicked";
    }

    private void OnCreateAccount()
    {
        this._LastAction = "Create account clicked";
    }
}
