@implements IDisposable
@inject NavigationManager NavigationManager
@inject ILogger<NavigationTree> Logger

<div class="explorer-menu">
    <NavigationTreeItemComponent Item="NavigationRoot" SubHeading="true" />
</div>

@code {
    [CascadingParameter]
    protected StoriesStore StoriesStore { get; init; } = default!;

    [CascadingParameter]
    protected QueryRouteData RouteData { get; init; } = default!;

    [CascadingParameter]
    protected IServiceProvider Services { get; init; } = default!;

    private NavigationService? _NavigationService;

    [Parameter, EditorRequired]
    public NavigationTreeItem NavigationRoot { get; set; } = new();

    private readonly Subscriptions _Subscriptions = new();

    protected override void OnInitialized()
    {
        this._NavigationService = this.Services.GetRequiredService<NavigationService>();
        this.NavigationManager.LocationChanged += NavigationManager_LocationChanged;

        var commandService = this.Services.GetRequiredService<CommandService>();
        this._Subscriptions.Add(
            commandService.Subscribe(CommandType.PreviousComponent, OnPreviousComponent),
            commandService.Subscribe(CommandType.NextComponent, OnNextComponent),
            commandService.Subscribe(CommandType.PreviousStory, OnPreviousStory),
            commandService.Subscribe(CommandType.NextStory, OnNextStory),
            commandService.Subscribe(CommandType.CollapseAll, OnCollapseAll)
        );
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.NavigationManager_LocationChanged(this, new(this.NavigationManager.Uri, isNavigationIntercepted: true));
        }
    }

    private ValueTask OnPreviousComponent() => this.MoveComponent(navigateToNext: false);

    private ValueTask OnNextComponent() => this.MoveComponent(navigateToNext: true);

    private ValueTask MoveComponent(bool navigateToNext)
    {
        this._NavigationService?.NavigateToNextComponentItem(this.RouteData, navigateToNext);
        return ValueTask.CompletedTask;
    }

    private ValueTask OnPreviousStory() => this.MoveStory(navigateToNext: false);

    private ValueTask OnNextStory() => this.MoveStory(navigateToNext: true);

    private ValueTask MoveStory(bool navigateToNext)
    {
        this._NavigationService?.NavigateToNextDocsOrStory(this.RouteData, navigateToNext);
        return ValueTask.CompletedTask;
    }

    private ValueTask OnCollapseAll()
    {
        foreach (var item in this.NavigationRoot.SubItems.SelectMany(headerItem => headerItem.SubItems))
        {
            item.ApplyExpansionRecursively(false);
        }
        return ValueTask.CompletedTask;
    }

    private void NavigationManager_LocationChanged(object? sender, LocationChangedEventArgs args)
    {
        if (this._NavigationService == null) return;
        if (!this._NavigationService.TryGetActiveNavigationItem(this.RouteData, out var activeItem, out var _))
        {
            if (this.RouteData.View == "story") this._NavigationService.NotifyLastVisitedWasUnknown();
            return;
        }

        this.NavigationRoot.EnsureExpandedTo(activeItem);
        this.StateHasChanged();
        this._NavigationService.AddHistoryAsync(activeItem).AndLogException(this.Logger);
    }

    public void Dispose()
    {
        this.NavigationManager.LocationChanged -= this.NavigationManager_LocationChanged;
        this._Subscriptions.Dispose();
    }
}
