.navigation-tree {
    min-width: 100%;
    display: inline-flex;
    flex-direction: column;

    .navigation-tree-item {
        display: inline-flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 4px;
    }

    .caption {
        height: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button, a {
            outline: 0;
            border: none;
            color: var(--bs-sidebar-nav-color);
            background-color: transparent;
            cursor: pointer;
            height: 100%;
            white-space: nowrap;
        }

        .action {
            align-items: center;
            font-size: 14px;
            font-stretch: 100%;
            display: flex;
            flex-wrap: nowrap;
            flex: 1;
            padding: 0 12px 0 0;
            appearance: none;
            text-decoration: none;

            .icon {
                svg {
                    padding: 0;
                    margin-right: 6px;
                }
            }
        }

        .action:hover, button.action:focus {
            background-color: var(--bs-hover-light-back-color);
        }

        button.action:focus {
            background-color: var(--bs-focused-half-color);
        }
    }
    /* for Active Story, Docs and Custom */
    .type-story, .type-docs, .type-custom-page {
        &.active > .caption {
            a {
                color: var(--bs-sidebar-nav-active-color);
                background-color: var(--bs-sidebar-nav-active-back-color);
                font-weight: bold;
            }

            .action svg {
                fill: #fff;
            }
        }
    }
    //
    /* ---- Chevron ---- */
    .chevron {
        display: block;
        margin: 0 6px;

        .svg-icon {
            padding: 0;
            margin: 0;
            width: 10px;
            height: 10px;
            fill: var(--bs-chevron-color);
        }

        transform: rotateZ(-90deg);
        transition: transform .1s ease-out;
    }

    .expanded > .caption .chevron {
        transform: rotateZ(0deg);
    }

    .type-story, .type-docs, .type-custom-page {
        & > .caption .chevron {
            visibility: hidden;
        }
    }
    //
    /* ---- Sub Items ---- */
    .sub-items {
        display: none;
    }

    .expanded > .sub-items {
        display: inline-flex;
        flex-direction: column;
    }
    //
    /* ---- Sub Heading ---- */
    .caption.sub-heading {
        margin-top: var(--bs-sidebar-gap-size);
        margin-bottom: 4px;

        .action {
            font-size: 11px;
            color: var(--bs-dimmed-text-color);
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 3.85px;
            width: unset;

            .chevron {
                margin-right: 7px;
            }

            .icon {
                display: none;
            }

            &:hover, &:focus {
                background-color: transparent;
            }

            &:focus {
                color: var(--bs-focused-color);

                .chevron {
                    color: var(--bs-focused-color);
                }
            }
        }

        button:focus-visible {
            outline: 1px solid var(--bs-focused-color);
            border-radius: 28px;
        }

        .sub-items {
            padding-left: 0;
        }
    }

    .sub-heading-action {
        width: 28px;
        height: 28px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;

        svg {
            padding: 0;
            color: var(--bs-chevron-color);
        }

        &:hover svg,
        &:focus svg {
            color: var(--bs-focused-color);
        }
    }

    .expanded > .caption .sub-heading-action {
        visibility: visible;
    }
    //
    /* ---- Icons ---- */
    .type-container > .caption .action svg {
        color: var(--bs-icon-folder-color);
    }

    .type-component > .caption .action svg {
        color: var(--bs-icon-story-container-color);
    }

    .type-docs > .caption .action svg {
        color: var(--bs-icon-document-color);
    }

    .type-story > .caption .action svg {
        color: var(--bs-icon-story-color);
    }

    .type-custom-page > .caption .action svg {
        color: var(--bs-icon-custom-color);
    }
}
