.navigation-tree {

    .caption {
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button, a {
            outline: 0;
            border: none;
            color: var(--bs-sidebar-nav-color);
            background-color: transparent;
            cursor: pointer;
            height: 100%;
        }

        .action {
            align-items: center;
            font-size: 13px;
            font-stretch: 100%;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            padding: 0;
            appearance: none;
            text-decoration: none;

            .icon {
                margin: 1px 0 0 2px;
            }
        }

        .action:hover, button.action:focus {
            background-color: var(--bs-hover-light-back-color);
        }

        button.action:focus {
            background-color: var(--bs-focused-half-color);
        }
    }
    /* for Active Story or Docs */
    .type-story, .type-docs {
        &.active > .caption {
            a {
                color: var(--bs-sidebar-nav-active-color);
                background-color: var(--bs-sidebar-nav-active-back-color);
                font-weight: bold;
            }

            .action svg {
                fill: #fff;
            }
        }
    }
    //
    /* ---- Chevron ---- */
    .chevron {
        display: inline-block;
        width: 0;
        height: 0;
        margin: 0 2px 0 10px;
        color: var(--bs-chevron-color);
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-left: 3px solid;
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        transform: rotateZ(0deg);
        -webkit-transition: -webkit-transform .1s ease-out;
        transition: transform .1s ease-out;
    }

    .expanded > .caption .chevron {
        transform: rotateZ(90deg);
    }

    .type-story, .type-docs {
        & > .caption .chevron {
            visibility: hidden;
        }
    }
    //
    /* ---- Sub Items ---- */
    .sub-items {
        display: none;
    }

    .expanded > .sub-items {
        display: block;
    }
    //
    /* ---- Sub Heading ---- */
    .caption.sub-heading {
        height: 20px;
        margin-top: var(--bs-sidebar-gap-size);
        margin-bottom: 4px;

        .action {
            font-size: 11px;
            color: var(--bs-dimmed-text-color);
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 3.85px;
            width: unset;

            .chevron {
                margin-right: 7px;
            }

            .icon {
                display: none;
            }

            &:hover, &:focus {
                background-color: transparent;
            }

            &:focus {
                color: var(--bs-focused-color);

                .chevron {
                    color: var(--bs-focused-color);
                }
            }
        }

        button:focus-visible {
            outline: 1px solid var(--bs-focused-color);
            border-radius: 28px;
        }

        .sub-items {
            padding-left: 0;
        }
    }

    .sub-heading-action {
        width: 18px;
        height: 18px;
        padding: 0;
        margin: 0 21px 0 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;

        svg {
            width: calc(var(--bs-svg-icon-size) - 2px);
            height: calc(var(--bs-svg-icon-size) - 2px);
            color: var(--bs-dimmed-text-color);
            margin: 0;
        }

        &:hover svg,
        &:focus svg {
            color: var(--bs-focused-color);
        }
    }

    .expanded > .caption .sub-heading-action {
        visibility: visible;
    }
    //
    /* ---- Icons ---- */
    .type-container > .caption .action svg {
        color: var(--bs-icon-folder-color);
    }

    .type-component > .caption .action svg {
        color: var(--bs-icon-story-container-color);
    }

    .type-docs > .caption .action svg {
        color: var(--bs-icon-document-color);
    }

    .type-story > .caption .action svg {
        color: var(--bs-icon-story-color);
    }
}
