<button style="background-color: @(this.Color);" @onclick="OnClick" >
    <span>@this.Text</span>
</button>

@code {

    /// <summary>
    /// Set a text that is button caption.
    /// </summary>
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    /// <summary>
    /// Set a color of the button.
    /// </summary>
    [Parameter]
    public string Color { get; set; } = "#007bff";

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    /// <summary>
    /// This is basic button component.
    /// </summary>
    public Button() { }
}
