<div class="menu-item @(this.Active ? "active": "")" @onclick="() => this.OnClick.InvokeAsync()">
    @ChildContent
</div>

@code
{
    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}