.layouts-bordered-fullframe {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
    padding: var(--bs-preview-body-margin, 16px);
    --min-height: calc(100vh / var(--bs-zoom, 1));
    min-height: var(--min-height);
}

body[data-bs-parent-frame="docs"] .layouts-bordered-fullframe {
    --min-height: 95px;
}

.layouts-bordered-fullframe ::deep .preview-story-area {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: calc(var(--min-height) - 2 * var(--bs-preview-body-margin, 16px));
    border: solid 1px #ccc;
}
