@inherits LayoutComponentBase
@* See also: https://github.com/jsakamoto/BlazingStory#%EF%B8%8F-configure-layouts *@

<div class="layouts-bordered-fullframe-outer">
    <div class="layouts-bordered-fullframe-inner">
        @Body
    </div>
</div>
