@inherits LayoutComponentBase
@* See also: https://github.com/jsakamoto/BlazingStory#%EF%B8%8F-configure-layouts *@

<div style="position:absolute; inset:20px; border: solid 1px var(--bs-border-color);">
    @Body
</div>
