@attribute [Stories("Examples/UI/Button")]

<Stories TComponent="Button" Layout="typeof(ButtonStoriesLayout)">

    <ArgType For="_ => _!.Color" Control="ControlType.Select" />

    <Story Name="Default">
        <Arguments>
            <Arg For="_ => _!.Bold" Value="true" />
        </Arguments>
        <Template>
            <Button Text="Default" Color="ButtonColor.Default" @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Primary" Layout="typeof(PrimaryButtonLayout)">
        <Template>
            <Button Text="Primary" Color="ButtonColor.Primary" @attributes="context.Args" />
        </Template>
    </Story>

    <Story Name="Danger">
        <Arguments>
            <Arg For="_ => _!.Text" Value='"Danger!"' />
            <Arg For="_ => _!.Color" Value="ButtonColor.Danger" />
        </Arguments>
        <Template>
            <h1>
                <span style="display:inline-block; padding:12px 24px; margin:24px 12px;">
                    This is Button
                </span>
            </h1>

            <Button @attributes="context.Args" />
        </Template>
    </Story>

</Stories>
