@attribute [Stories("Examples/UI/Button")]

<Story TComponent="Button" Name="Default">

    <Arguments>
        <Arg For="_ => _!.Bold" Value="true" />
    </Arguments>

    <Template>
        <Button Text="Default" Color="ButtonColor.Default" @attributes="context.Args" />
    </Template>

</Story>

<Story TComponent="Button" Name="Primary">
    <Template>
        <Button Text="Primary" Color="ButtonColor.Primary" @attributes="context.Args" />
    </Template>
</Story>

<Story TComponent="Button" Name="Danger">

    <Arguments>
        <Arg For="_ => _!.Text" Value='"Danger!"' />
        <Arg For="_ => _!.Color" Value="ButtonColor.Danger" />
    </Arguments>

    <Template>
        <h1>This is Button</h1>
        <Button @attributes="context.Args" />
    </Template>

</Story>
