@attribute [CustomPage("Examples/Getting Started")]

<div class="Getting Started">
    <md-block>
    ## 🚀 Getting Started

    ### Example scenario

    For the example scenario, you already have a Blazor WebAssembly application project, "MyBlazorWasmApp1", that includes the "Button" component.

    &gt; [!Note]  
    &gt; Blazing Story supports Blazor Server application projects as well as Blazor WebAssembly application projects.

    ```
    📂 (working directory)
        + 📄 MyBlazorWasmApp1.sln
        + 📂 MyBlazorWasmApp1
            + 📄 MyBlazorWasmApp1.csproj
            + ...
            + 📂 Components
                + 📄 Button.razor
                + ...
    ```

    ### Preparation

    Close all Visual Studio IDE instances (if you use Visual Studio IDE), and install the "Blazing Story" project template with the following command. (This installation instruction is enough to execute once in your development environment.)

    ```shell
    dotnet new install BlazingStory.ProjectTemplates
    ```

    ### Creating a Blazing Story app and stories

    #### Step 1 - Create a new Blazing Story app project

    Open the solution file (.sln) with Visual Studio, and add a new **"Blazing Story (WebAssembly App)"** project from the project templates. (In this example scenario, we named it "MyBlazorWasmApp1.Stories")

    ![](https://raw.githubusercontent.com/jsakamoto/BlazingStory/main/assets/readme-images/add-a-new-project.png)

    &gt; [!Note]  
    &gt; If you are working on a Blazor Server application project, you should add a new **"Blazing Story (Server App)"** project instead of the "Blazing Story (WebAssembly App)" project.


    If you are working on dotnet CLI, you can do that with the following commands in a terminal.

    &gt; [!Note]  
    &gt; Please remind again that this example scenario assumes that there is already a solution file (.sln) in the current directory with an existing Blazor WebAssembly app project.

    ```shell
    # Create a new Blazing Story app
    dotnet new blazingstorywasm -n MyBlazorWasmApp1.Stories
    # Add the Blazing Story app project to the solution
    dotnet sln add ./MyBlazorWasmApp1.Stories/
    ```

    &gt; [!Note]  
    &gt; If you are working on a Blazor Server application project, you should do the `dotnet new blazingstoryserver` command.

    The file layout will be the following tree.

    ```
    📂 (working directory)
        + 📄 MyBlazorWasmApp1.sln
        + 📂 MyBlazorWasmApp1
            + ...
        + 📂 MyBlazorWasmApp1.Stories
            + 📄 MyBlazorWasmApp1.Stories.csproj✨ 👈 Add this
    ```

    #### Step 2 - Add a project reference of the Blazor Wasm app to the Blazing Story project

    Next, add a project reference in the Blazing Story App project "MyBlazorWasmApp1.Stories" that refers to the Blazor WebAssembly app project "MyBlazorWasmApp1".

    ![](https://raw.githubusercontent.com/jsakamoto/BlazingStory/main/assets/readme-images/add-a-project-reference.png)

    If you are working on dotnet CLI, you can do that with the following commands in a terminal.

    ```shell
    dotnet add ./MyBlazorWasmApp1.Stories reference ./MyBlazorWasmApp1
    ```

    ```
    📂 (working directory)
        + 📄 MyBlazorWasmApp1.sln
        + 📂 MyBlazorWasmApp1 &lt;--- refers --+
            + ...                           |
        + 📂 MyBlazorWasmApp1.Stories ------+
            + ...
    ```

    #### Step 3 - Add a "stories" file

    Add a new "stories" file to the Blazing Story App project "MyBlazorWasmApp1.Stories".

    A "stories" file is a normal Razor Component file (.razor), but it is annotated with the `[Stories]` attribute and includes a markup of the `&lt;Stories&gt;` component. There is no restriction on file layout of "stories" files, but usually, we place it in the "Stories" subfolder.

    &gt; [!Warning]  
    &gt; Currently, The file name of the "stories" files must end with ".stories.razor". This is a requirement of the naming convention for available the "Show code" feature in the "Docs" pages.

    In this example scenario, we are going to write a "stories" for the `Button` component lived in the "MyBlazorWasmApp1" project, so we would add a new story file named "Button.stories.razor" in the "Stories" subfolder where is under the "MyBlazorWasmApp1.Stories" project.

    ```
    📂 (working directory)
        + 📄 MyBlazorWasmApp1.sln
        + 📂 MyBlazorWasmApp1
            + ...
        + 📂 MyBlazorWasmApp1.Stories
            + 📄 MyBlazorWasmApp1.Stories.csproj
            + 📂 Stories
                + 📄 Button.stories.razor✨ 👈 Add this
    ```

    #### Step 4 - Implement the "stories"

    Implement a stories.

    The "Button.stories.razor" would be like the below.

    ```html
    @@using MyBlazorWasmApp1.Components
    @@attribute [Stories("Components/Button")]

    &lt;Stories TComponent="Button"&gt;

        &lt;Story Name="Primary"&gt;
            &lt;Template&gt;
                &lt;Button Label="Button" Primary="true" @@attributes="context.Args" /&gt;
            &lt;/Template&gt;
        &lt;/Story&gt;

    &lt;/Stories&gt;
    ```

    #### Step 5 - Run it!

    If you are working on Visual Studio, right-click the "MyBlazorWasmApp1.Stories" project in the solution explorer to show the context menu, click the "Set as Startup Project" menu item, and hit the `Ctrl` + `F5` key.

    If you are working on dotnet CLI, you can do that with the following commands in a terminal.

    ```shell
    dotnet run --project ./MyBlazorWasmApp1.Stories
    ```

    Then you will see the clone of the "Storybook" built on Blazor! 🎉

    ![](https://raw.githubusercontent.com/jsakamoto/BlazingStory/main/assets/readme-images/first-run-of-blazingstory.gif)

    ## 📂 Structure of "stories"

    - The `[Stories]` attribute on a Razor component indicates to the Blazing Story runtime that the Razor component will include stories.
    - The slash-separated title string of the parameter of the `[Stories]` attribute configures the navigation tree and represents the title of the stories container (we called it "Component").
    - The `&lt;Stories&gt;` component indicates to the Blazing Story runtime what is the target component of the story with its `TComponent` type parameter. The "Controls" panel will be built from this component-type information.
    - The `&lt;Stories&gt;` component can include one or more `&lt;Story&gt;` components. The `&lt;Story&gt;` component has the `Name` parameter, which will be shown in the sidebar navigation tree to identify each story.
    - The `&lt;Template&gt;` render fragment parameter inside the `&lt;Story&gt;` component will be rendered in the canvas area when that story is selected in the sidebar navigation tree.
    - The Blazing Story runtime passes the parameters users inputted from the "Control" panel through the `context.Args` inside the `&lt;Template&gt;` render fragment, so you should apply it to the component by using the `@@attributes=...`,  [attribute splatting syntax](https://learn.microsoft.com/aspnet/core/blazor/components/#attribute-splatting-and-arbitrary-parameters).

    ![](https://raw.githubusercontent.com/jsakamoto/BlazingStory/main/assets/readme-images/structure-of-story.png)

    ## ⚙️ Configure layouts

    If you want to apply the same layout for every story, you can specify the layout component to use when displaying a story. This architecture is mostly the same as Blazor's standard layout mechanism (see also: _["ASP.NET Core Blazor layouts | Microsoft Learn"](https://learn.microsoft.com/aspnet/core/blazor/components/layouts)_). A layout component must inherit from the `LayoutComponentBase` class and should have the rendering `@@Body` in its markup. If you apply the layout component like the one below to stories,

    ```html
    @@inherits LayoutComponentBase
    &lt;YourThemeProvider&gt;
        &lt;div style="padding: 24px;"&gt;
            @@Body
        &lt;/div&gt;
    &lt;/YourThemeProvider&gt;
    ```

    The story which applied the layout component above will be rendered as a child component of the `&lt;YourThemeProvider&gt;` component (imagine you implemented that component such a component including some cascading values) and will have 24-pixel padding.

    ### Application level layout

    The specified layout component for stories is in multiple levels.

    First, you can specify the layout for the application level via the `DefaultLayout` property of the `BlazingStoryApp` component, which is usually marked up in your `App.razor` file. 

    ```html
    @@* 📄App.razor *@@
    &lt;BlazingStoryApp ... DefaultLayout="typeof(DefaultLayout)"&gt;
    &lt;/BlazingStoryApp&gt;
    ```

    In the above case, the layout component `DefaultLayout.razor` will be used when displaying every story.

    ### Component (Stories) level layout

    Second, you can specify the layout for the component (stories) level via the `Layout` parameter of the `&lt;Stories&gt;` component.

    ```html
    @@* 📄...stories.razor *@@
    @@attribute [Stories(...)]

    &lt;Stories ... Layout="typeof(StoriesLayout)"&gt;
        ...
    ```

    In the above case, when displaying stories within the `&lt;Stories&gt;` markup, the layout component `StoriesLayout.razor` will be utilized.

    ### Story level layout

    Third, you can specify the layout for the story level via the `Layout` parameter of the `&lt;Story&gt;` component.

    ```html
    @@* 📄...stories.razor *@@
    @@attribute [Stories(...)]

    &lt;Stories ...&gt;
        &lt;Story Name="..." Layout="typeof(StoryLayout)"&gt;
            ...
    ```

    </md-block>
</div>

<script type="module">
    import { MarkdownBlock, URLs } from "https://md-block.verou.me/md-block.js"
    URLs.Prism = "https://unpkg.com/prismjs@1.29.0/prism.js"
    URLs.PrismCSS = "https://unpkg.com/prismjs@1.29.0/themes/prism.min.css"
</script>
