.history {

    .caption {
        height: 24px;
    }

    .caption.sub-heading {
        height: unset;
        line-height: 16px;
        margin-top: var(--bs-sidebar-gap-size);
        margin-bottom: 4px;
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--bs-dimmed-text-color);
        letter-spacing: 3.85px;
    }
}
