<div class="history">

    <div class="caption sub-heading">
        Recently opened
    </div>

    <!-- Max 8 items -->
    <NavigationList Items="this._HistoryItems" OnClickItem="this.OnClickHistoryItem" GetIconType="GetIconType" GetCssClass="GetCssClass">
        <Actions>
            <div class="action" @onclick="BackToComponents" @onpointerenter="@(() => context.OnHover("back-to-components"))" aria-selected="@context.IsSelected("back-to-components")">
                <SvgIcon Type="SvgIconType.NavigationBack" />
                <span class="text">Back to components</span>
                <KeyMap Key="new (Code.Escape)" FreeSize="true" />
            </div>

            <div class="action" @onclick="ClearHistory" @onpointerenter="@(() => context.OnHover("clear-history"))" aria-selected="@context.IsSelected("clear-history")">
                <SvgIcon Type="SvgIconType.TrashCan" />
                <span class="text">Clear history</span>
            </div>
        </Actions>
    </NavigationList>

</div>
