.navigation-list {
    .navigation-list-items {
        margin: 0 -20px;

        .item {
            padding: 3px 3px 3px 18px;
            width: 100%;
            display: flex;
            text-align: left;

            &.type-component .svg-icon {
                color: var(--bs-icon-story-container-color);
            }

            &.type-story .svg-icon {
                color: var(--bs-icon-story-color);
            }

            &.type-docs .svg-icon {
                color: var(--bs-icon-document-color);
            }

            .label {
                flex: 1;
                display: flex;
                flex-direction: column;
                font-size: 13px;

                .title {
                    font-weight: 600;
                }

                .path {
                    font-size: 11px;
                    color: var(--bs-dimmed-text-color);
                    display: grid;
                    justify-content: start;
                    grid-auto-flow: column;

                    span {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        & + span {
                            position: relative;
                            margin-left: 4px;
                            padding-left: 7px;

                            &:before {
                                content: '/';
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .navigation-list-actions {
        margin-top: 8px;

        .action {
            font-size: 12px;
            color: var(--bs-dimmed-text-color);
            min-height: 16px;
            margin: 0 -20px;
            padding: 6px 19px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .svg-icon {
                margin: 0 5px 0 -1px;
            }

            & > .text {
                flex: 1;
            }
        }
    }

    [aria-selected] {
        background-color: var(--bs-hover-light-back-color);
    }
}
