.search-results {
    margin-top: var(--bs-sidebar-gap-size);

    .no-components-found {
        margin: 20px -20px 0 -20px;
        text-align: center;

        & > strong {
            display: block;
            font-size: 13px;
        }

        & > small {
            display: block;
            font-size: 12px;
            margin-top: 1px;
        }
    }
}
