<div class="search-results">

    <NavigationList Items="this._Results" OnClickItem="this.OnClickSearchResultItem" Keywords="this._SearchKeywords" />

    @if (!this._Results.Any())
    {
        <div class="no-components-found">
            <strong>No components found</strong>
            <small>Find components by name or path.</small>
        </div>
    }

</div>
