<div class="@CssClass("search-field", new {
    HasFocus = this._SearchBoxHasFocus,
    HasText = this._SearchBoxHasText
})">
    <SvgIcon Type="SvgIconType.Find" Class="find-icon" />

    <input @ref="_InputElement" type="text" placeholder="@this.SearchBoxPlaceHolder" required autocomplete="off"
           value="@this.SearchText"
           @oninput="OnInputSearchText"
           @onfocus="OnFocusSearchBox"
           @onblur="OnBlurSearchBox" role="search" />

    <KeyMap Key="this._GoSearchHotKey" Class="shortcut-keymap" />
    <SvgIcon Type="SvgIconType.Close" Class="clear-icon" OnClick="ClearSearchText" />
</div>
