@implements IAsyncDisposable

<div class="search-and-history">

    <SearchField @bind-SearchText="this._SearchText" Focus="OnFocus" Cleared="OnCleared" />

    @if (this.SearchMode)
    {
        @if (string.IsNullOrEmpty(this._SearchText))
        {
            <History ExitHistoryView="ExitSearchMode" />
        }
        else
        {
            <SearchResult SearchText="@this._SearchText" ExitSearchView="ExitSearchMode" />
        }
    }

</div>
