@using System.Text.RegularExpressions
@using BlazingStory.Addons.Internals
@implements IDisposable

<PageTitle>@_PageTitle</PageTitle>

@if (this._CustomPage?.CustomPageRazorDescriptor != null)
{
    <div class="custom-page stack vertical">
        <ToolBar Visible="this._Commands.ToolbarVisible?.Flag == true">
            @if (this._Commands.ShowSidebar?.Flag == false)
            {
                <IconCommandButton Icon="SvgIconType.Sidebar" Command="this._Commands.ShowSidebar" />
                <Separator />
            }

            @* -- Render Add-On's Toolbar Contents -- *@
            @{
#pragma warning disable IL2111
            }
            @foreach (var toolbarContent in this.GetToolbarContents())
            {
                <DynamicComponent @key="toolbarContent.Id"
                                  Type="toolbarContent.ComponentType"
                                  Parameters="toolbarContent.ComponentParameter" />
            }
            @{
#pragma warning restore IL2111
            }

            <Spacer />

            @if ((this._Commands.Fullscreen?.Flag ?? true) == true)
            {
                <IconCommandButton Icon="SvgIconType.CircleClose" Command="this._Commands.Fullscreen" Title="Exit full screen [{0}]" />
            }
            else
            {
                <IconCommandButton Icon="SvgIconType.FullScreen" Command="this._Commands.Fullscreen" />
            }
        </ToolBar>
        <div class="custom-page-main fill">
            <div class="custom-page-contents">
                @{
                #pragma warning disable IL2111
                }
                <DynamicComponent Type="this._CustomPage.CustomPageRazorDescriptor.TypeOfCustomPageRazor" />
                @{
                #pragma warning restore IL2111
                }
            </div>
        </div>
    </div>
}

@code {
    [CascadingParameter]
    protected CustomPageStore CustomPageStore { get; init; } = default!;

    [CascadingParameter]
    protected IServiceProvider Services { get; init; } = default!;

    [CascadingParameter]
    protected BlazingStoryApp BlazingStoryApp { get; init; } = default!;

    [CascadingParameter]
    protected QueryRouteData RouteData { get; init; } = default!;

    private AddonManager AddonManager => this.Services.GetRequiredService<AddonManager>();

    private readonly Subscriptions _Subscriptions = new();

    private (Command? ToolbarVisible, Command? ShowSidebar, Command? Fullscreen) _Commands = default;

    private string _PageTitle = "";

    private CustomPageContainer? _CustomPage;

    protected override void OnParametersSet()
    {
        var navigationPath = Regex.Replace(this.RouteData.Parameter, "--custom$", "");
        if (!this.CustomPageStore.TryGetCustomPageContainerByPath(navigationPath, out var customPage)) return;
        this._PageTitle = string.Join(" / ", customPage.Title.Split('/')) + " - " + this.BlazingStoryApp.Title;
        this._CustomPage = customPage;
    }

    protected override void OnInitialized()
    {
        var commands = this.Services.GetRequiredService<CommandService>();
        this._Commands = (
            ToolbarVisible: commands[CommandType.ToolBarVisible],
            ShowSidebar: commands[CommandType.SideBarVisible],
            Fullscreen: commands[CommandType.GoFullScreen]);
        this._Subscriptions.Add(this._Commands.ToolbarVisible!.Subscribe(this.OnToggleToolbarVisible));

        this.AddonManager.GlobalArgumentsChanged += OnGlobalArgumentsChanged;
    }

    private IEnumerable<ToolbarContentDescriptor> GetToolbarContents()
    {
        return this.AddonManager.GetToolbarContents(BlazingStory.Addons.ViewMode.CustomPage);
    }

    private Dictionary<string, object?> GetGlobalArguments()
    {
        return this.GetToolbarContents()
            .SelectMany(tb => tb.Globals)
            .ToDictionary(arg => arg.Key, arg => arg.Value);
    }

    private void OnGlobalArgumentsChanged(object? sender, EventArgs args)
    {
        this.StateHasChanged();
    }

    private async ValueTask OnToggleToolbarVisible()
    {
        this._Commands.ToolbarVisible?.ToggleFlag();
        await ValueTask.CompletedTask;
    }

    public void Dispose()
    {
        this.AddonManager.GlobalArgumentsChanged -= OnGlobalArgumentsChanged;
        this._Subscriptions.Dispose();
    }
}
