@page "/"

<div class="fill body stack vertical">

    <QueryRouteView View="story">
        <CanvasPage />
    </QueryRouteView>

</div>

@code
{
    [CascadingParameter]
    public StoriesStore? StoriesStore { get; set; }

    [CascadingParameter]
    public QueryRouteData? RouteData { get; set; }
}
