@page "/"
@{
    var routes = new QueryRoute[]
    {
        new("story",    "*", typeof(CanvasPage)),
        new("docs",     "*", typeof(DocsPage)),
        new("custom",   "*", typeof(CustomPage)),
        new("settings", "*", typeof(SettingsPage)),
        new("*",        "*", typeof(FallBackPage)),
    };
}

<div class="fill body stack vertical">
    <QueryRouteView Routes="routes" />
</div>
