@page "/"
<div class="fill body">

    <h3>Index</h3>

    <p>this.StoriesStore?.StoryContainers.Count(): @this.StoriesStore?.StoryContainers.Count()</p>
    <p>this.RouteData?.Path: @(this.RouteData?.Path ?? "(null)")</p>
    <p>this.RouteData?.View: @(this.RouteData?.View ?? "(null)")</p>
    <p>this.RouteData?.Parameter: @(this.RouteData?.Parameter ?? "(null)")</p>

</div>
