@page "/"

<div class="fill body stack vertical">

    <ToolBar>
        <TabButtonGroup>
            <TabButton Active="true">
                Canvas
            </TabButton>
            <TabButton>
                Docs
            </TabButton>
        </TabButtonGroup>
        <Separator />
        <IconButton Icon="SvgIconType.ZoomIn" />
        <IconButton Icon="SvgIconType.ZoomOut" />
    </ToolBar>

    <QueryRouteView View="story">
        <CanvasPage />
    </QueryRouteView>

</div>

@code
{
    [CascadingParameter]
    public StoriesStore? StoriesStore { get; set; }

    [CascadingParameter]
    public QueryRouteData? RouteData { get; set; }
}
