<a href="@this.Url" target="_top" class="brand-logo" title="@(this.Title ?? this.BlazingStoryApp.Title)" style='--bs-brand-logo-icon-url: url("@this.IconUrl");'>
    @(this.Title ?? this.BlazingStoryApp.Title)
</a>
