.brand-logo {
    padding-left: 26px;
    background-size: inherit;
    background-repeat: inherit;
    background-position: inherit;
    background-image: var(--bs-brand-logo-icon-url);
    display: inline-block;
}
