@using System.Diagnostics.CodeAnalysis;
@typeparam TComponent where TComponent: notnull
@attribute [CascadingTypeParameter(nameof(TComponent))]

<div class="display:none;">
    <CascadingValue Value="this._StoryContext">
        @Arguments
    </CascadingValue>
</div>

@code
{
    [CascadingParameter]
    internal StoryContainer? StoryContainer { get; set; }

    [Parameter, EditorRequired]
    public string Name { get; set; } = "";

    [Parameter]
    public RenderFragment? Arguments { get; set; }

    [Parameter, EditorRequired]
    public RenderFragment<StoryContext>? Template { get; set; }

    private StoryContext _StoryContext = new(ParameterExtractor.GetParametersFromComponentType(typeof(TComponent)));

    protected override void OnInitialized()
    {
        if (this.StoryContainer == null) throw new InvalidOperationException($"The StoryContainer cascading parameter is required.");
        if (this.Template == null) throw new InvalidOperationException($"The Template parameter is required.");

        this.StoryContainer.RegisterStory(this.Name, this._StoryContext, this.Template);
    }
}
