@using System.Diagnostics.CodeAnalysis;
@typeparam TComponent where TComponent: notnull
@attribute [CascadingTypeParameter(nameof(TComponent))]

<div class="display:none;">
    <CascadingValue Value="this._StoryContainer">
        <CascadingValue Value="this._ComponentParameters">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    [CascadingParameter]
    internal StoriesStore StoriesStore { get; init; } = default!;

    [CascadingParameter]
    internal StoriesRazorDescriptor StoriesRazorDescriptor { get; init; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private StoryContainer? _StoryContainer;

    private IEnumerable<ComponentParameter> _ComponentParameters = Enumerable.Empty<ComponentParameter>();

    protected override void OnInitialized()
    {
        this._StoryContainer = new StoryContainer(typeof(TComponent), this.StoriesRazorDescriptor, this.Services);
        this.StoriesStore.RegisterStoryContainer(this._StoryContainer);

        var xmlDocComment = this.Services.GetRequiredService<IXmlDocComment>();
        this._ComponentParameters = ParameterExtractor.GetParametersFromComponentType(typeof(TComponent), xmlDocComment);
    }
}