@using System.Diagnostics.CodeAnalysis;
@typeparam TComponent where TComponent: notnull
@attribute [CascadingTypeParameter(nameof(TComponent))]

<div class="display:none;">
    <CascadingValue Value="this">
        @Arguments
    </CascadingValue>
</div>
