@using System.Diagnostics.CodeAnalysis;
@typeparam TComponent where TComponent: notnull
@attribute [CascadingTypeParameter(nameof(TComponent))]

<div class="display:none;">
    <CascadingValue Value="this._ComponentParameters">
        @ChildContent
    </CascadingValue>
</div>

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    private IEnumerable<ComponentParameter> _ComponentParameters = Enumerable.Empty<ComponentParameter>();

    protected override void OnInitialized()
    {
        var xmlDocComment = this.Services.GetRequiredService<IXmlDocComment>();
        this._ComponentParameters = ParameterExtractor.GetParametersFromComponentType(typeof(TComponent), xmlDocComment);
    }
}