@inject StoriesStore StoriesStore

<div class="story-prober">

    <CascadingValue Value="this.probingStoryContext">
        @foreach (var storiesContainerType in this.storiesContainersTypes)
        {
            <DynamicComponent Type="storiesContainerType" />
        }
    </CascadingValue>

</div>

@code {
    private readonly ProbingStoryContext probingStoryContext = new();

    private List<Type> storiesContainersTypes = new()
    {
        //typeof(BlazingStory.Stories.Button_stories)
    };

    //protected override bool ShouldRender()
    //{
    //    return false; // base.ShouldRender();
    //}

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.StoriesStore.SetStoryDataSet(this.probingStoryContext.StoryDataSet);
        }
    }
}
