<div class="new-todo-form">
    <EditForm Model="toDoItem" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="input-field">
            <InputText autofocus placeholder='to do' @bind-Value="toDoItem.Title" />
            <ValidationMessage For="@(() => toDoItem.Title)" />
        </div>
        <IconButton Icon="Icon.Add" Type="ButtonType.Submit" />
    </EditForm>
</div>

@code
{
    private readonly ToDoItem toDoItem = new();

    /// <summary>
    /// Gets or sets the callback that is invoked when the add button is clicked, with the ToDo title string as an argument.
    /// </summary>
    [Parameter]
    public EventCallback<string> OnClickAdd { get; set; }

    private async Task OnValidSubmit()
    {
        await OnClickAdd.InvokeAsync(toDoItem.Title);
        toDoItem.Title = "";
    }
}