:root {
  --bs-text-size: 13px;
  --bs-control-caption-size: 12px;
  --bs-sidebar-gap-size: 16px;
  --bs-sidebar-nav-indent-size: 18px;
  --bs-font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
  --bs-monospace-font-family: ui-monospace,Menlo,Monaco,"Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Droid Sans Mono","Courier New",monospace;
}

.preferes-color-scheme-light {
  --bs-back-color: #f6f9fc;
  --bs-dimmed-back-color: #ecf4f9;
  --bs-dimmed-neutral-back-color: #ecf4f9;
  --bs-accent-color: #029cfd;
  --bs-invalid-color: rgb(255, 68, 0);
  --bs-border-color: rgba(38, 85, 115, 0.15);
  --bs-border-shadow: var(--bs-border-color) 0 -1px 0 0 inset;
  --bs-layout-border-shadow: 0 1px 3px 1px rgb(0 0 0 / 5%), 0px 0 0px 1px rgb(0 0 0 / 5%);
  --bs-hover-back-color: rgba(2,156,253,0.12);
  --bs-hover-light-back-color: rgba(30,167,253,0.07);
  --bs-text-color: #333333;
  --bs-link-color: #0041c8;
  --bs-caption-text-color: #2e3438;
  --bs-caption-text-half-color1: rgba(46, 52, 56, 0.75);
  --bs-caption-text-half-color2: rgba(46, 52, 56, 0.5);
  --bs-dimmed-text-color: #73828c;
  --bs-dimmed-hover-text-color: #5c6870;
  --bs-sidebar-header-title-color: #2e3438;
  --bs-sidebar-nav-color: var(--bs-text-color);
  --bs-sidebar-nav-active-color: #fff;
  --bs-sidebar-nav-active-back-color: #1ea7fd;
  --bs-focused-color: var(--bs-accent-color);
  --bs-focused-half-color: rgba(2, 156, 253, 0.15);
  --bs-chevron-color: rgba(92,104,112,0.6);
  --bs-toolbar-back-color: #fff;
  --bs-add-on-panel-back-color: #fff;
  --bs-add-on-panel-border-color: #e6e6e6;
  --bs-add-on-panel-badge-shadow: inset 0 0 0 1px rgba(92,104,112,0.1);
  --bs-inputs-background: #fff;
  --bs-inputs-text-color: var(--bs-text-color);
  --bs-inputs-box-shadow: hsla(203, 50%, 30%, 0.2) 0 0 0 1px inset;
  --bs-square-button-box-shadow: #d9e8f2 0 0 0 1px inset;
  --bs-icon-folder-color: #2a0481;
  --bs-icon-story-container-color: var(--bs-accent-color);
  --bs-icon-story-color: #37d5d3;
  --bs-icon-custom-color: #ff8300;
  --bs-icon-document-color: #ff8300;
  --bs-keymap-text-color: #5c6870;
  --bs-keymap-back-color: rgba(0,0,0,0.05);
  --bs-button-flagged-back-color: rgba(2, 156, 253, 0.07);
  --bs-toggle-button-back-color: var(--bs-inputs-background);
  --bs-toggle-button-shadow: rgba(38, 85, 115, 0.3) 0 0 2px;
  --bs-popup-back-color: rgba(255,255,255,0.95);
  --bs-popup-text-color: var(--bs-caption-text-color);
  --bs-popup-hover-back-color: rgba(2, 156, 253, 0.07);
  --bs-popup-active-text-color: var(--bs-accent-color);
  --bs-popup-divider-color: rgba(38, 85, 115, 0.2);
  --bs-scrollbar-thumb-color: #afafaf;
  --bs-scrollbar-back-color: #e0e0e0;
  --bs-code-text-color: #ededed;
  --bs-code-back-color: #262626;
  --bs-code-copy-text-color: #c9cdcf;
  --bs-code-copy-back-color: #1b1c1d;
  --bs-actions-log-text-color: #2e3438;
  --bs-actions-log-repeat-text-color: #ffffff;
  --bs-actions-log-repeat-back-color: rgba(38, 85, 115, 0.65);
  --bs-actions-log-expander-color: rgba(38, 85, 115, 0.35);
  --bs-actions-log-name-color: rgb(136, 19, 145);
  --bs-actions-log-value-string-color: rgb(196, 26, 22);
  --bs-actions-log-value-noobj-color: rgb(28, 0, 207);
  --bs-actions-log-value-null-color: rgb(128, 128, 128);
  --bs-markdown-alert-note-accent-color: #0969da;
  --bs-markdown-alert-note-border-color: #0969da;
  --bs-markdown-alert-warning-accent-color: #8250df;
  --bs-markdown-alert-warning-border-color: #8250df;
  --bs-markdown-alert-important-accent-color: #9a6700;
  --bs-markdown-alert-important-border-color: #9a6700;
  --bs-markdown-alert-tip-accent-color: #1a7f37;
  --bs-markdown-alert-tip-border-color: #1a7f37;
  --bs-markdown-alert-caution-accent-color: #d1242f;
  --bs-markdown-alert-caution-border-color: #cf222e;
  --bs-code-punctuation: #393a34;
  --bs-code-tag: #800000;
  --bs-code-attr-name: #ff0000;
  --bs-code-attr-value: #0000ff;
  --bs-code-attr-value-punctuation: #393a34;
  --bs-code-comment: #008000;
  --bs-code-keyword: #0000ff;
  --bs-code-string: #a31515;
  --bs-code-class-name: #2b91af;
  --bs-code-property: #2b91af;
}

.preferes-color-scheme-dark {
  --bs-back-color: #222425;
  --bs-dimmed-back-color: #222425;
  --bs-dimmed-neutral-back-color: #ecf4f9;
  --bs-accent-color: #029cfd;
  --bs-invalid-color: rgb(255, 68, 0);
  --bs-border-color: rgb(255 255 255 / 10%);
  --bs-border-shadow: var(--bs-border-color) 0 -1px 0 0 inset;
  --bs-layout-border-shadow: 0px 0 0px 1px rgba(255, 255, 255, 0.1);
  --bs-hover-back-color: rgba(2,156,253,0.12);
  --bs-hover-light-back-color: rgba(30,167,253,0.07);
  --bs-text-color: #c9cdcf;
  --bs-link-color: #6bc5fe;
  --bs-caption-text-color: #c9cdcf;
  --bs-caption-text-half-color1: rgba(201, 205, 207, 0.75);
  --bs-caption-text-half-color2: rgba(201, 205, 207, 0.5);
  --bs-dimmed-text-color: #73828c;
  --bs-dimmed-hover-text-color: #5c6870;
  --bs-sidebar-header-title-color: #fff;
  --bs-sidebar-nav-color: var(--bs-text-color);
  --bs-sidebar-nav-active-color: #fff;
  --bs-sidebar-nav-active-back-color: #029cfd;
  --bs-focused-color: var(--bs-accent-color);
  --bs-focused-half-color: rgba(2, 156, 253, 0.15);
  --bs-chevron-color: var(--bs-dimmed-text-color);
  --bs-toolbar-back-color: #292c2e;
  --bs-add-on-panel-back-color: #1b1c1d;
  --bs-add-on-panel-border-color: #27292a;
  --bs-add-on-panel-badge-shadow: none;
  --bs-inputs-background: #1b1c1d;
  --bs-inputs-text-color: #fff;
  --bs-inputs-box-shadow: hsla(203, 50%, 30%, 0.2) 0 0 0 1px inset;
  --bs-square-button-box-shadow: rgba(255,255,255,.1) 0 0 0 1px inset;
  --bs-icon-folder-color: #ff4785;
  --bs-icon-story-container-color: var(--bs-accent-color);
  --bs-icon-story-color: #37d5d3;
  --bs-icon-custom-color: #ffae00;
  --bs-icon-document-color: #ffae00;
  --bs-keymap-text-color: #798186;
  --bs-keymap-back-color: rgba(255,255,255,0.05);
  --bs-button-flagged-back-color: rgba(2, 156, 253, 0.07);
  --bs-toggle-button-back-color: #2e3438;
  --bs-toggle-button-shadow: rgba(255,255,255,.1) 0 0 0 1px;
  --bs-popup-back-color: #1b1c1d;
  --bs-popup-text-color: var(--bs-caption-text-color);
  --bs-popup-hover-back-color: rgba(2, 156, 253, 0.07);
  --bs-popup-active-text-color: var(--bs-accent-color);
  --bs-popup-divider-color: rgba(255, 255, 255, 0.1);
  --bs-scrollbar-thumb-color: #7a7c7c;
  --bs-scrollbar-back-color: #333333;
  --bs-code-text-color: #ededed;
  --bs-code-back-color: #262626;
  --bs-code-copy-text-color: #c9cdcf;
  --bs-code-copy-back-color: #1b1c1d;
  --bs-actions-log-text-color: #c9cdcf;
  --bs-actions-log-repeat-text-color: #222425;
  --bs-actions-log-repeat-back-color: rgba(255, 255, 255, 0.6);
  --bs-actions-log-expander-color: rgba(255, 255, 255, 0.3);
  --bs-actions-log-name-color: rgb(227, 110, 236);
  --bs-actions-log-value-string-color: rgb(233, 63, 59);
  --bs-actions-log-value-noobj-color: rgb(153, 128, 255);
  --bs-actions-log-value-null-color: rgb(127, 127, 127);
  --bs-markdown-alert-note-accent-color: #478be6;
  --bs-markdown-alert-note-border-color: #316dca;
  --bs-markdown-alert-warning-accent-color: #c69026;
  --bs-markdown-alert-warning-border-color: #966600;
  --bs-markdown-alert-important-accent-color: #986ee2;
  --bs-markdown-alert-important-border-color: #8256d0;
  --bs-markdown-alert-tip-accent-color: #57ab5a;
  --bs-markdown-alert-tip-border-color: #347d39;
  --bs-markdown-alert-caution-accent-color: #e5534b;
  --bs-markdown-alert-caution-border-color: #c93c37;
  --bs-code-punctuation: #ededed;
  --bs-code-tag: #a8ff60;
  --bs-code-attr-name: #96cbfe;
  --bs-code-attr-value: #b474dd;
  --bs-code-attr-value-punctuation: #ededed;
  --bs-code-comment: #57a64a;
  --bs-code-keyword: #b474dd;
  --bs-code-string: #e93f3b;
  --bs-code-class-name: #ffffb6;
  --bs-code-property: #e36eec;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--bs-font-family);
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
body .color-scheme-container {
  color: var(--bs-text-color);
  background: var(--bs-back-color);
}
body .color-scheme-container a {
  color: var(--bs-link-color);
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

button {
  outline: 0;
  border: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.stack {
  display: flex;
}
.stack.gap {
  gap: 16px;
}
.stack.horizontal {
  flex-direction: row;
}
.stack.vertical {
  flex-direction: column;
}
.stack .fill {
  flex: 1;
}

.bs-basic-inputs-holder {
  display: inline-block;
  line-height: normal;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.bs-basic-inputs {
  appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 6px 10px;
  width: 100%;
  font-size: var(--bs-text-size);
  background: var(--bs-inputs-background);
  color: var(--bs-inputs-text-color);
  box-shadow: var(--bs-inputs-box-shadow);
  border-radius: 4px;
  line-height: 20px;
  text-align: left;
  overflow: visible;
  transition: inherit, box-shadow 200ms ease-out, opacity 200ms ease-out;
}
.bs-basic-inputs:focus, .bs-basic-inputs:focus-visible {
  box-shadow: var(--bs-focused-color) 0 0 0 1px inset;
}
.bs-basic-inputs:invalid {
  box-shadow: #FF4400 0 0 0 1px inset !important;
}

.split-container[b-split-container] {
  --splitter-bar-size: 0px;
}
.split-container[b-split-container] > .spliter-bar {
  position: relative;
}
.split-container[b-split-container] > .spliter-bar::after {
  content: "";
  position: absolute;
  z-index: 1;
  transition: color 0.2s linear, background-position 0.2s linear, background-size 0.2s linear, background 0.2s linear;
  background-image: radial-gradient(at center center, rgba(0, 0, 0, 0.2) 0%, transparent 70%, transparent 100%);
  background-repeat: no-repeat;
}
.split-container[b-split-container].splitter-orientation-vertical > .spliter-bar::after {
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: 50px 100%;
  background-position: 10px 50%;
}
.split-container[b-split-container].splitter-orientation-vertical > .spliter-bar:hover::after {
  background-position: 0 50%;
}
.split-container[b-split-container].splitter-orientation-horizontal > .spliter-bar::after {
  height: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 100% 50px;
  background-position: 50% 10px;
}
.split-container[b-split-container].splitter-orientation-horizontal > .spliter-bar:hover::after {
  background-position: 50% 0;
}

.pane-of-split-container {
  display: flex;
  flex-direction: column;
}
.pane-of-split-container .fill {
  flex: 1;
}

:root {
  --bs-scrollbar-transition: scrollbar-color 0.2s linear;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: var(--bs-scrollbar-transition);
}
*:hover {
  scrollbar-color: var(--bs-scrollbar-thumb-color) var(--bs-scrollbar-back-color);
}

.color-scheme-container {
  display: contents;
}

.brand-logo {
  padding-left: 26px;
  background-size: inherit;
  background-repeat: inherit;
  background-position: inherit;
  background-image: var(--bs-brand-logo-icon-url);
  display: inline-block;
}

.main-layout {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-back-color);
}
.main-layout > .pane-of-split-container:first-of-type {
  transition: width linear 0.1s, min-width linear 0.1s, var(--bs-scrollbar-transition);
}
.main-layout > .pane-of-split-container:first-of-type .sidebar-container {
  display: none;
}
.main-layout > .pane-of-split-container:last-of-type {
  box-shadow: var(--bs-layout-border-shadow);
}
.main-layout.sidebar-shown > .pane-of-split-container:first-of-type .sidebar-container {
  display: block;
}
.main-layout.sidebar-hidden > .pane-of-split-container:first-of-type {
  min-width: 0 !important;
  width: 0 !important;
}
.main-layout.sidebar-hidden > .spliter-bar {
  display: none;
}

.sidebar-container {
  padding: 16px calc(12px - var(--splitter-bar-size) + 1px) 20px 12px;
  background-color: var(--bs-back-color);
}

.sidebar .sidebar-header {
  display: flex;
  min-height: 42px;
  align-items: center;
  margin-bottom: var(--bs-sidebar-gap-size);
  padding-left: 8px;
}
.sidebar .sidebar-header .sidebar-header-title {
  flex: 1;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  font-weight: 900;
  color: var(--bs-sidebar-header-title-color);
  text-shadow: 0.5px 0 0 var(--bs-sidebar-header-title-color);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: -2px center;
  white-space: nowrap;
}
.sidebar .sidebar-header .sidebar-header-title a {
  text-decoration: none;
  color: inherit;
}
.sidebar .sidebar-header .settings-popup-menu .popup-menu-trigger .icon-button {
  width: 32px;
  height: 32px;
  justify-content: center;
}
.sidebar .sidebar-header .settings-popup-menu .popup-menu-holder {
  min-width: 180px;
}
.sidebar .explorer-menu {
  margin: 20px 0;
}
.sidebar .explorer-menu:has(> .navigation-tree > .navigation-tree-item.type-container:first-child) {
  margin-top: 0;
}

.settings-popup-menu .popup-menu-body {
  margin-left: 16px;
  padding: 4px 4px;
}

.search-field {
  position: relative;
}
.search-field input {
  appearance: none;
  height: 32px;
  padding: 1px 32px 1px 29px;
  border: 1px solid var(--bs-border-color);
  background: transparent;
  border-radius: 6px;
  font-size: 13px;
  font-family: inherit;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  color: var(--bs-text-color);
  width: 100%;
}
.search-field input:focus {
  outline: 0;
  background: var(--bs-back-color);
  border-color: var(--bs-focused-color);
}
.search-field .find-icon {
  --bs-svg-icon-size: 14px;
  position: absolute;
  left: 9px;
  top: 6px;
  padding: 0;
  color: var(--bs-dimmed-text-color);
  pointer-events: none;
}
.search-field .shortcut-keymap {
  position: absolute;
  top: 8px;
  right: 16px;
}
.search-field .clear-icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 11px;
  width: 16px;
  height: 16px;
  padding: 4px;
  z-index: 1;
  border-radius: 16px;
  background: var(--bs-keymap-back-color);
  color: var(--bs-keymap-text-color);
  cursor: pointer;
}
.search-field.has-focus .shortcut-keymap, .search-field.has-text .shortcut-keymap {
  display: none;
}
.search-field.has-text .clear-icon {
  display: block;
}

.history .caption {
  height: 24px;
}
.history .caption.sub-heading {
  height: unset;
  line-height: 16px;
  margin-top: var(--bs-sidebar-gap-size);
  margin-bottom: 4px;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--bs-dimmed-text-color);
  letter-spacing: 3.85px;
}

.search-results {
  margin-top: var(--bs-sidebar-gap-size);
}
.search-results .no-components-found {
  margin: 20px -20px 0 -20px;
  text-align: center;
}
.search-results .no-components-found > strong {
  display: block;
  font-size: 13px;
  color: var(--bs-text-color);
}
.search-results .no-components-found > small {
  display: block;
  font-size: 12px;
  margin-top: 1px;
  color: var(--bs-dimmed-text-color);
}

.navigation-list .navigation-list-items {
  margin: 0 -20px;
}
.navigation-list .navigation-list-items .item {
  padding: 3px 3px 3px 18px;
  width: 100%;
  display: flex;
  text-align: left;
}
.navigation-list .navigation-list-items .item.type-component .svg-icon {
  color: var(--bs-icon-story-container-color);
}
.navigation-list .navigation-list-items .item.type-story .svg-icon {
  color: var(--bs-icon-story-color);
}
.navigation-list .navigation-list-items .item.type-docs .svg-icon {
  color: var(--bs-icon-document-color);
}
.navigation-list .navigation-list-items .item.type-custom-page .svg-icon {
  color: var(--bs-icon-custom-color);
}
.navigation-list .navigation-list-items .item .label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.navigation-list .navigation-list-items .item .label .title {
  font-weight: 600;
  color: var(--bs-text-color);
}
.navigation-list .navigation-list-items .item .label .title .match {
  color: var(--bs-accent-color);
}
.navigation-list .navigation-list-items .item .label .path {
  font-size: 11px;
  color: var(--bs-dimmed-text-color);
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
}
.navigation-list .navigation-list-items .item .label .path span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navigation-list .navigation-list-items .item .label .path span + span {
  position: relative;
  margin-left: 4px;
  padding-left: 7px;
}
.navigation-list .navigation-list-items .item .label .path span + span:before {
  content: "/";
  position: absolute;
  left: 0;
}
.navigation-list .navigation-list-actions {
  margin-top: 8px;
}
.navigation-list .navigation-list-actions .action {
  font-size: 12px;
  color: var(--bs-dimmed-text-color);
  min-height: 16px;
  margin: 0 -20px;
  padding: 6px 19px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navigation-list .navigation-list-actions .action .svg-icon {
  margin: 0 5px 0 -1px;
}
.navigation-list .navigation-list-actions .action > .text {
  flex: 1;
}
.navigation-list [aria-selected] {
  background-color: var(--bs-hover-light-back-color);
}

.navigation-tree {
  min-width: 100%;
  display: inline-flex;
  flex-direction: column;
  /* for Active Story, Docs and Custom */
  /* ---- Chevron ---- */
  /* ---- Sub Items ---- */
  /* ---- Sub Heading ---- */
  /* ---- Icons ---- */
}
.navigation-tree .navigation-tree-item {
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
}
.navigation-tree .caption {
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-tree .caption button, .navigation-tree .caption a {
  outline: 0;
  border: none;
  color: var(--bs-sidebar-nav-color);
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  white-space: nowrap;
}
.navigation-tree .caption .action {
  align-items: center;
  font-size: 14px;
  font-stretch: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  appearance: none;
  text-decoration: none;
}
.navigation-tree .caption .action .icon svg {
  padding: 0;
  margin-right: 6px;
}
.navigation-tree .caption .action .icon, .navigation-tree .caption .action .text {
  padding-top: 1.8px;
}
.navigation-tree .caption .action:hover, .navigation-tree .caption button.action:focus {
  background-color: var(--bs-hover-light-back-color);
}
.navigation-tree .caption button.action:focus {
  background-color: var(--bs-focused-half-color);
}
.navigation-tree .type-story.active > .caption a, .navigation-tree .type-docs.active > .caption a, .navigation-tree .type-custom-page.active > .caption a {
  color: var(--bs-sidebar-nav-active-color);
  background-color: var(--bs-sidebar-nav-active-back-color);
  font-weight: bold;
}
.navigation-tree .type-story.active > .caption .action svg, .navigation-tree .type-docs.active > .caption .action svg, .navigation-tree .type-custom-page.active > .caption .action svg {
  fill: #fff;
}
.navigation-tree .chevron {
  display: block;
  margin: 0 6px;
  transform: rotateZ(-90deg);
  transition: transform 0.1s ease-out;
}
.navigation-tree .chevron .svg-icon {
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
  fill: var(--bs-chevron-color);
}
.navigation-tree .expanded > .caption .chevron {
  transform: rotateZ(0deg);
}
.navigation-tree .type-story > .caption .chevron, .navigation-tree .type-docs > .caption .chevron, .navigation-tree .type-custom-page > .caption .chevron {
  visibility: hidden;
}
.navigation-tree .sub-items {
  display: none;
}
.navigation-tree .expanded > .sub-items {
  display: inline-flex;
  flex-direction: column;
}
.navigation-tree .type-container .caption.sub-heading {
  margin-top: var(--bs-sidebar-gap-size);
  margin-bottom: 4px;
  padding: 0;
}
.navigation-tree .type-container .caption.sub-heading .action {
  font-size: 11px;
  color: var(--bs-dimmed-text-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.76px;
  width: unset;
}
.navigation-tree .type-container .caption.sub-heading .action .chevron {
  margin-right: 6px;
}
.navigation-tree .type-container .caption.sub-heading .action .icon {
  display: none;
}
.navigation-tree .type-container .caption.sub-heading .action .text {
  padding: 0;
  margin-top: -1px;
}
.navigation-tree .type-container .caption.sub-heading .action:hover, .navigation-tree .type-container .caption.sub-heading .action:focus {
  background-color: transparent;
}
.navigation-tree .type-container .caption.sub-heading .action:focus {
  color: var(--bs-focused-color);
}
.navigation-tree .type-container .caption.sub-heading .action:focus .chevron {
  color: var(--bs-focused-color);
}
.navigation-tree .type-container .caption.sub-heading button:focus-visible {
  outline: 1px solid var(--bs-focused-color);
  border-radius: 28px;
}
.navigation-tree .type-container .caption.sub-heading .sub-items {
  padding-left: 0;
}
.navigation-tree .sub-heading-action {
  width: 28px;
  height: 28px;
  margin-right: 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.navigation-tree .sub-heading-action svg {
  margin: 0;
  padding: 0;
  color: var(--bs-chevron-color);
}
.navigation-tree .sub-heading-action:hover svg, .navigation-tree .sub-heading-action:focus svg {
  color: var(--bs-focused-color);
}
.navigation-tree .expanded > .caption .sub-heading-action {
  visibility: visible;
}
.navigation-tree .type-container > .caption .action svg {
  color: var(--bs-icon-folder-color);
}
.navigation-tree .type-component > .caption .action svg {
  color: var(--bs-icon-story-container-color);
}
.navigation-tree .type-docs > .caption .action svg {
  color: var(--bs-icon-document-color);
}
.navigation-tree .type-story > .caption .action svg {
  color: var(--bs-icon-story-color);
}
.navigation-tree .type-custom-page > .caption .action svg {
  color: var(--bs-icon-custom-color);
}

.toolbar-viewport {
  --bs-toolbar-height: 40px;
  --bs-toolbar-content-gap: 6px;
  box-shadow: var(--bs-border-shadow);
  height: 0;
  overflow-y: hidden;
  display: flex;
  transition: height linear 0.1s;
  background-color: var(--bs-toolbar-back-color);
}
.toolbar-viewport .toolbar-content {
  flex: 1;
  display: inline-flex;
  align-items: center;
  gap: var(--bs-toolbar-content-gap);
  margin: 0 10px;
  height: var(--bs-toolbar-height);
  transition: margin-top linear 0.2s;
  margin-top: calc(-1.5 * var(--bs-toolbar-height));
  white-space: nowrap;
}
.toolbar-viewport .toolbar-content .toolbar-content-text {
  font-size: 13px;
  font-weight: bold;
  color: var(--bs-dimmed-text-color);
  padding: 10px;
  margin: -2px 0 0 0;
}
.toolbar-viewport.toolbar-visible {
  height: var(--bs-toolbar-height);
}
.toolbar-viewport.toolbar-visible .toolbar-content {
  margin-top: 0;
}

.tab-button-group {
  display: inline-flex;
}
.toolbar-content .tab-button-group {
  margin-left: -7px;
}

button.tab-button {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  padding: 0 15px;
  margin: 0;
  color: var(--bs-dimmed-text-color);
  border-top: solid 2px transparent;
  border-bottom: solid 3px transparent;
  white-space: nowrap;
}
button.tab-button.active {
  color: var(--bs-focused-color);
  border-bottom: solid 3px var(--bs-focused-color);
}

span.toolbar-separator {
  width: 1px;
  height: 20px;
  background: var(--bs-popup-divider-color);
  margin: 0 2px;
}

.key-map {
  display: inline-flex;
  gap: 6px;
  padding: 0px 6px;
  border-radius: 2px;
  background: var(--bs-keymap-back-color);
  color: var(--bs-keymap-text-color);
  user-select: none;
  pointer-events: none;
}
.key-map code {
  --bs-keymap-size: 16px;
  font-family: var(--bs-monospace-font-family);
  font-size: 11px;
  display: inline-block;
  height: var(--bs-keymap-size);
  line-height: var(--bs-keymap-size);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.key-map.free-size {
  padding: 0 2px;
}

.hotkey-editor-input {
  display: inline-block;
  position: relative;
}
.hotkey-editor-input input {
  text-align: center;
  padding: 6px 4px;
  width: 80px;
  line-height: 20px;
  height: 32px;
  background-color: var(--bs-inputs-background);
  color: var(--bs-inputs-text-color);
  font-size: var(--bs-text-size);
  appearance: none;
  outline: none;
  border: 0px none;
  border-radius: 4px;
  box-shadow: var(--bs-border-color) 0px 0px 0px 1px inset;
  transition: border 200ms ease-in-out, box-shadow 200ms ease-out, opacity 200ms ease-out;
}
.hotkey-editor-input input:focus {
  box-shadow: var(--bs-accent-color) 0px 0px 0px 1px inset;
}
.hotkey-editor-input input.invalid {
  box-shadow: var(--bs-invalid-color) 0px 0px 0px 1px inset;
}
.hotkey-editor-input input.invalid-animation {
  animation: 700ms ease-out 0s 1 normal none running animation-invalid-hotkey;
}
@keyframes animation-invalid-hotkey {
  0%, 100% {
    transform: translate3d(0px, 0px, 0px);
  }
  12.5%, 62.5% {
    transform: translate3d(-4px, 0px, 0px);
  }
  37.5%, 87.5% {
    transform: translate3d(4px, 0px, 0px);
  }
}
.hotkey-editor-input .valid-check {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -32px;
  opacity: 0;
}
.hotkey-editor-input .valid-check .svg-icon {
  vertical-align: middle;
  --bs-svg-icon-size: 16px;
  color: rgb(102, 191, 60);
}
.hotkey-editor-input .valid-check.valid-animation {
  opacity: 1;
  animation: 2s ease 0s 1 normal forwards running animation-valid-hotkey;
}
@keyframes animation-valid-hotkey {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pooled-iframe {
  position: relative;
}
.pooled-iframe iframe {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}

.menu-item.command-menu-item {
  padding: 0 10px 0 9px;
  overflow-y: hidden;
}
.menu-item.command-menu-item .icon-area {
  color: var(--bs-dimmed-hover-text-color);
  width: 25px;
}
.menu-item.command-menu-item .icon-area svg.svg-icon {
  --bs-svg-icon-size: 16px;
}
.menu-item.command-menu-item[aria-checked] .icon-area {
  color: var(--bs-focused-color);
}
.menu-item.command-menu-item .command-title {
  flex: 1;
  letter-spacing: 0.02px;
}
.menu-item.command-menu-item .hotkey-area {
  padding-left: 10px;
  margin-bottom: 2px;
  font-weight: normal;
}

a.menu-item.command-menu-item {
  color: var(--bs-popup-text-color);
  text-decoration: none;
}

.preview-frame {
  position: absolute;
  inset: 0;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
}
.preview-frame .pooled-iframe {
  position: absolute;
  inset: 0;
}
.preview-frame .pooled-iframe iframe {
  transition: width 0.3s, height 0.3s;
  box-sizing: content-box;
}

.body {
  background-color: var(--bs-add-on-panel-back-color);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.canvas-page-container {
  position: absolute;
  inset: 0;
}
.canvas-page-container .canvas-container {
  flex: 1;
}
.canvas-page-container .canvas-container .canvas-frame-viewport {
  position: relative;
}
.canvas-page-container .pane-of-split-container {
  min-width: 80px;
  min-height: 80px;
}
.canvas-page-container.splitter-orientation-vertical .add-on-container {
  border-left: 1px solid hsla(203, 50%, 30%, 0.2);
}
.canvas-page-container.splitter-orientation-horizontal .add-on-container {
  border-top: 1px solid hsla(203, 50%, 30%, 0.2);
}

.addon-pane-hidden .canvas-page-container > .spliter-bar, .addon-pane-hidden .canvas-page-container > .pane-of-split-container:last-of-type {
  display: none;
}

.add-on-container {
  overflow: hidden;
  background-color: var(--bs-add-on-panel-back-color);
}

.add-on-panel {
  overflow: hidden;
}
.add-on-panel .badge {
  margin-left: 10px;
}

.add-on-panel-content {
  overflow: auto;
  position: relative;
}

.add-on-panel-pane {
  display: none;
}

.add-on-panel-pane.active {
  display: block;
}

.code-view {
  overflow-x: auto;
  background-color: var(--bs-code-back-color);
}
.code-view pre:has(code) {
  font-family: var(--bs-monospace-font-family);
  font-size: 13px;
  padding: 20px;
  color: var(--bs-code-text-color);
}
.code-view pre:has(code) code {
  color: #ededed;
}
.code-view pre:has(code) code .token.punctuation {
  color: #ededed;
}
.code-view pre:has(code) code .token.tag {
  color: #ffffb6;
}
.code-view pre:has(code) code .token.attr-name {
  color: #9cdcfe;
}
.code-view pre:has(code) code .token.attr-value {
  color: #b474dd;
}
.code-view pre:has(code) code .token.punctuation {
  color: #ededed;
}
.code-view pre:has(code) code .token.comment {
  color: #57a64a;
  font-style: italic;
}
.code-view .copy-button {
  color: var(--bs-code-copy-text-color);
  background-color: var(--bs-code-copy-back-color);
}

.docs-page {
  position: absolute;
  inset: 0;
  color: var(--bs-text-color);
}
.docs-page .docs-main {
  padding: 4rem 20px;
  overflow: auto;
}
.docs-page .docs-main .docs-contents {
  max-width: 1000px;
  margin: 0 auto;
}
.docs-page .docs-main .docs-contents h1 {
  font-size: 32px;
  line-height: 36px;
  padding: 0;
  margin: 0 0 16px 0;
  display: inline-block;
}
.docs-page .docs-main .docs-contents h2 {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  color: var(--bs-dimmed-text-color);
  padding: 0 0 4px 0;
  margin: 56px 0 12px 0;
}
.docs-page .docs-main .docs-contents h3 {
  margin: 0 0 8px 0;
  font-size: 20px;
  color: var(--bs-caption-text-color);
  font-weight: 700;
}
.docs-page .docs-main .docs-contents > .summary {
  margin: 16px 0;
  font-size: 14px;
  line-height: 24px;
}
.docs-page .docs-main .docs-contents > .first-story {
  margin: 25px 0 40px 0;
}
.docs-page .docs-main .docs-contents .story-description {
  margin: 12px 0 24px 0;
}
.docs-page .docs-main .docs-contents .story-description code {
  font-family: var(--bs-monospace-font-family);
  padding: 3px 5px;
  border-radius: 6px;
  background-color: var(--bs-back-color);
}
.docs-page .docs-main .docs-contents .controls-panel tbody {
  border: solid 1px var(--bs-add-on-panel-border-color);
  filter: drop-shadow(0px 1px 3px var(--bs-border-color));
}
.docs-page .docs-main .docs-contents .controls-panel tbody tr:first-of-type td:first-of-type {
  border-top-left-radius: 4px;
}
.docs-page .docs-main .docs-contents .controls-panel tbody tr:first-of-type td:last-of-type {
  border-top-right-radius: 4px;
}
.docs-page .docs-main .docs-contents .controls-panel tbody tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 4px;
}
.docs-page .docs-main .docs-contents .controls-panel tbody tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 4px;
}

.custom-page {
  position: absolute;
  inset: 0;
  color: var(--bs-text-color);
}
.custom-page .custom-page-main {
  padding: 4rem 20px;
  overflow: auto;
}
.custom-page .custom-page-main .custom-page-contents {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
.custom-page .custom-page-main .custom-page-contents h1 {
  font-size: 32px;
  line-height: 43px;
  padding: 0;
  margin: 0 0 8px 0;
  color: var(--bs-caption-text-color);
  font-weight: 700;
}
.custom-page .custom-page-main .custom-page-contents h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  padding: 0 0 4px 0;
  margin: 0 0 8px 0;
  color: var(--bs-caption-text-color);
  font-weight: 700;
  border-bottom: 1px solid var(--bs-border-color);
}
.custom-page .custom-page-main .custom-page-contents h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  padding: 0;
  margin: 0 0 8px 0;
  color: var(--bs-caption-text-color);
}
.custom-page .custom-page-main .custom-page-contents p {
  font-size: 14px;
  margin: 16px 0;
  line-height: 24px;
}
.custom-page .custom-page-main .custom-page-contents img {
  max-width: 100%;
  height: auto;
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert {
  border-left: solid 4px var(--bs-markdown-alert-border-color);
  padding: 8px 16px;
  margin: 0 0 16px 0;
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert.markdown-alert-note {
  --bs-markdown-alert-accent-color: var(--bs-markdown-alert-note-accent-color);
  --bs-markdown-alert-border-color: var(--bs-markdown-alert-note-border-color);
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert.markdown-alert-warning {
  --bs-markdown-alert-accent-color: var(--bs-markdown-alert-warning-accent-color);
  --bs-markdown-alert-border-color: var(--bs-markdown-alert-warning-border-color);
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert.markdown-alert-important {
  --bs-markdown-alert-accent-color: var(--bs-markdown-alert-important-accent-color);
  --bs-markdown-alert-border-color: var(--bs-markdown-alert-important-border-color);
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert.markdown-alert-tip {
  --bs-markdown-alert-accent-color: var(--bs-markdown-alert-tip-accent-color);
  --bs-markdown-alert-border-color: var(--bs-markdown-alert-tip-accent-color);
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert.markdown-alert-caution {
  --bs-markdown-alert-accent-color: var(--bs-markdown-alert-caution-accent-color);
  --bs-markdown-alert-border-color: var(--bs-markdown-alert-caution-accent-color);
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert p {
  padding: 0;
  margin: 0;
}
.custom-page .custom-page-main .custom-page-contents .markdown-alert .markdown-alert-title {
  color: var(--bs-markdown-alert-accent-color);
  fill: var(--bs-markdown-alert-accent-color);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
  margin: 0 0 16px 0;
  font-weight: bold;
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) {
  position: relative;
  font-family: var(--bs-monospace-font-family);
  font-size: 13px;
  line-height: 19px;
  margin: 25px 0 40px 0;
  padding: 20px 30px 20px 22px;
  white-space: pre-wrap;
  border: 1px solid var(--bs-border-color);
  border-radius: 4px;
  box-shadow: var(--bs-layout-border-shadow);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: var(--bs-caption-text-color);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.punctuation {
  color: var(--bs-code-punctuation);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.tag {
  color: var(--bs-code-tag);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.attr-name {
  color: var(--bs-code-attr-name);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.attr-value {
  color: var(--bs-code-attr-value);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.attr-value .punctuation {
  color: var(--bs-code-attr-value-punctuation);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.comment {
  color: var(--bs-code-comment);
  font-style: italic;
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.keyword, .custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.number, .custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.boolean {
  color: var(--bs-code-keyword);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.string {
  color: var(--bs-code-string);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.class-name {
  color: var(--bs-code-class-name);
}
.custom-page .custom-page-main .custom-page-contents pre:has(code) code .token.property {
  color: var(--bs-code-property);
}

.story-preview {
  position: relative;
  margin: 16px 0 40px 0;
  border: solid 1px var(--bs-border-color);
  border-radius: 4px;
  box-shadow: var(--bs-border-color) 0 1px 3px 0;
}
.story-preview > .preview-part {
  position: relative;
}
.story-preview > .preview-part .preview-frame-viewport {
  position: relative;
  height: 95px;
  min-height: 95px;
  max-height: max(95px, 100vh);
  transition: height linear 0.2s;
}
.story-preview > .preview-part .preview-frame-viewport iframe {
  position: absolute;
}

.settings-page-panel {
  flex: 1;
  overflow: auto;
}
.settings-page-panel > .viewport {
  padding: 48px 20px;
  margin: 0 auto 0 auto;
  max-width: 600px;
}
.settings-page-panel header {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--bs-text-color);
}
.settings-page-panel footer {
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
  height: 22px;
  border-top: solid 1px var(--bs-border-color);
  font-weight: 700;
}
.settings-page-panel footer a {
  text-decoration: none;
  color: var(--bs-dimmed-text-color);
  transition: all 150ms ease-out;
}
.settings-page-panel footer a:hover, .settings-page-panel footer a:focus {
  color: var(--bs-dimmed-hover-text-color);
}

.settings-about-panel header {
  color: var(--bs-sidebar-header-title-color);
}

.settings-keyboard-shortcuts-panel header {
  color: var(--bs-sidebar-header-title-color);
}
.settings-keyboard-shortcuts-panel .command-list {
  margin-top: 30px;
  font-size: calc(var(--bs-text-size) + 1px);
}
.settings-keyboard-shortcuts-panel .command-list .header-row, .settings-keyboard-shortcuts-panel .command-list .command-row {
  display: grid;
  align-items: center;
}
.settings-keyboard-shortcuts-panel .command-list .header-row .shortcuts, .settings-keyboard-shortcuts-panel .command-list .header-row .command-key, .settings-keyboard-shortcuts-panel .command-list .command-row .shortcuts, .settings-keyboard-shortcuts-panel .command-list .command-row .command-key {
  justify-self: end;
}
.settings-keyboard-shortcuts-panel .command-list .header-row {
  font-weight: bold;
  margin: 10px 0;
  grid-template-columns: 1fr 1fr 12px;
}
.settings-keyboard-shortcuts-panel .command-list .command-row {
  padding: 6px 0px;
  border-top: 1px solid var(--bs-border-color);
  grid-template-columns: 1fr 1fr;
}
