:root {
  --bs-back-color: #f6f9fc;
  --bs-text-size: 13px;
  --bs-text-color: #333333;
  --bs-control-caption-size: 12px;
  --bs-sidebar-nav-color: var(---bs-text-color);
  --bs-sidebar-nav-subheading-color: #999999;
  --bs-sidebar-nav-active-color: #fff;
  --bs-sidebar-nav-active-back-color: #1ea7fd;
  --bs-focused-color: #1ea7fd;
  --bs-hover-back-color: rgba(30, 167, 253, 0.12);
  --bs-icon-folder-color: #2a0481;
  --bs-icon-story-container-color: #1ea7fd;
  --bs-icon-story-color: #37d5d3;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-overflow-scrolling: touch;
  color: var(--bs-text-color);
  background: var(--bs-back-color);
  overflow: hidden;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

button {
  outline: 0;
  border: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.stack {
  display: flex;
}
.stack.gap {
  gap: 16px;
}
.stack.horizontal {
  flex-direction: row;
}
.stack.vertical {
  flex-direction: column;
}
.stack .fill {
  flex: 1;
}

.main-layout {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  width: 210px;
  padding: 20px;
}

.sidebar .sidebar-header {
  font-size: 18px;
  font-weight: bold;
  height: 28px;
}
.sidebar .search-field input {
  appearance: none;
  height: 28px;
  padding-left: 28px;
  padding-right: 28px;
  border: 1px solid rgba(153, 153, 153, 0.4);
  background: transparent;
  border-radius: 28px;
  font-size: 12px;
  font-family: inherit;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  color: var(--bs-text-color);
  width: 100%;
}
.sidebar .search-field input:focus {
  outline: 0;
  background: var(--bs-back-color);
  border-color: var(--bs-focused-color);
}
.sidebar .explorer-menu {
  margin-left: -20px;
  margin-right: -20px;
}

.navigation-tree {
  /* ---- Chevron ---- */
  /* ---- Sub Items ---- */
  /* ---- Sub Heading ---- */
  /* ---- Icons ---- */
}
.navigation-tree .caption {
  display: flex;
  justify-content: space-between;
  height: 23px;
}
.navigation-tree .caption button, .navigation-tree .caption a {
  outline: 0;
  border: none;
  color: var(--bs-sidebar-nav-color);
  background-color: transparent;
  cursor: pointer;
}
.navigation-tree .caption .action {
  align-items: center;
  font-size: 13px;
  font-stretch: 100%;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 24px;
  padding: 3px 10px 3px 1px;
  appearance: none;
  text-decoration: none;
}
.navigation-tree .caption .action:hover, .navigation-tree .caption button.action:focus {
  background-color: rgba(30, 167, 253, 0.07);
}
.navigation-tree .caption button.action:focus {
  background-color: #d5edfc;
}
.navigation-tree .type-story.active > .caption a {
  color: var(--bs-sidebar-nav-active-color);
  background-color: var(--bs-sidebar-nav-active-back-color);
  font-weight: bold;
}
.navigation-tree .type-story.active > .caption .action svg {
  fill: #fff;
}
.navigation-tree .chevron {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  margin-right: 5px;
  color: rgba(153, 153, 153, 0.6);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
}
.navigation-tree .expanded > .caption .chevron {
  transform: rotateZ(90deg);
}
.navigation-tree .type-story > .caption .chevron {
  visibility: hidden;
}
.navigation-tree .sub-items {
  /*padding-left: 10px;*/
  display: none;
}
.navigation-tree .expanded > .sub-items {
  display: block;
}
.navigation-tree .sub-heading > .caption .action {
  font-size: 11px;
  color: var(--bs-sidebar-nav-subheading-color);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3.85px;
  width: unset;
}
.navigation-tree .sub-heading > .caption .action:hover, .navigation-tree .sub-heading > .caption .action:focus {
  background-color: transparent;
}
.navigation-tree .sub-heading > .caption .action:focus {
  color: var(--bs-focused-color);
}
.navigation-tree .sub-heading > .caption .action:focus .chevron {
  color: var(--bs-focused-color);
}
.navigation-tree .sub-heading > .caption .action .icon {
  display: none;
}
.navigation-tree .sub-heading > .caption button:focus-visible {
  outline: 1px solid var(--bs-focused-color);
  border-radius: 28px;
}
.navigation-tree .sub-heading > .caption .sub-items {
  padding-left: 0;
}
.navigation-tree .sub-heading-action {
  width: 18px;
  height: 18px;
  padding: 0;
  margin: 0 20px 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}
.navigation-tree .sub-heading-action svg {
  fill: var(--bs-sidebar-nav-subheading-color);
  margin: 0;
}
.navigation-tree .sub-heading-action:hover svg, .navigation-tree .sub-heading-action:focus svg {
  fill: var(--bs-focused-color);
}
.navigation-tree .expanded > .caption .sub-heading-action {
  visibility: visible;
}
.navigation-tree .type-container > .caption .action svg {
  fill: var(--bs-icon-folder-color);
}
.navigation-tree .type-story-collection > .caption .action svg {
  fill: var(--bs-icon-story-container-color);
}
.navigation-tree .type-story > .caption .action svg {
  fill: var(--bs-icon-story-color);
}

.toolbar-viewport {
  box-shadow: rgba(0, 0, 0, 0.1) 0 -1px 0 0 inset;
  height: 40px;
  overflow-y: auto;
}
.toolbar-viewport .toolbar-content {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.tab-button-group {
  display: inline-flex;
}

button.tab-button {
  font-size: 13px;
  font-weight: bold;
  height: 40px;
  padding: 0 15px;
  margin: 0;
  color: var(--bs-sidebar-nav-subheading-color);
  border-top: solid 2px transparent;
  border-bottom: solid 3px transparent;
}
button.tab-button.active {
  color: var(--bs-focused-color);
  border-bottom: solid 3px var(--bs-focused-color);
}

span.toolbar-separator {
  width: 1px;
  height: 20px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 2px;
}

svg.svg-icon {
  width: 12px;
  height: 12px;
  padding: 1px;
  margin-top: 3px;
  margin-right: 5px;
}

button.icon-button {
  width: 28px;
  height: 28px;
  border-radius: 4px;
}
button.icon-button svg {
  width: 16px;
  height: 16px;
  fill: var(--bs-sidebar-nav-subheading-color);
}
button.icon-button:hover {
  background-color: var(--bs-hover-back-color);
}
button.icon-button:hover svg {
  fill: var(--bs-focused-color);
}

button.icon-button.reset-button {
  width: 30px;
  height: 20px;
  padding: 3px 8px;
  background-color: var(--bs-hover-back-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 3em;
  transition: all 150ms ease-out;
}
button.icon-button.reset-button:focus {
  box-shadow: var(--bs-focused-color) 0 0 0 1px inset;
}
button.icon-button.reset-button:hover {
  background: #ddebfa;
}
button.icon-button.reset-button svg {
  width: 14px;
  height: 14px;
  margin: 0;
  padding: 0;
  fill: var(--bs-focused-color);
}

.square-button {
  background: #fafafa;
  color: var(--bs-text-color);
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: var(--bs-control-caption-size);
  line-height: 1;
  transition: all 150ms ease-out;
}
.square-button:hover {
  background: #f2f2f2;
}
.square-button:focus {
  box-shadow: rgb(30, 167, 253) 0 0 0 1px inset;
}

.toggle-button {
  cursor: pointer;
  line-height: 18px;
  align-items: center;
  margin-bottom: 8px;
  display: inline-flex;
  position: relative;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3em;
  padding: 1px;
}
.toggle-button input {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 3em;
}
.toggle-button input:focus {
  box-shadow: var(--bs-focused-color) 0 0 0 1px inset !important;
}
.toggle-button span {
  text-align: center;
  font-size: var(--bs-control-caption-size);
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  padding: 7px 15px;
  transition: all 100ms ease-out;
  user-select: none;
  border-radius: 3em;
  color: rgba(51, 51, 51, 0.6);
  background: transparent;
}
.toggle-button span:first-of-type {
  padding-right: 8px;
}
.toggle-button span:last-of-type {
  padding-left: 8px;
}
.toggle-button input:checked ~ span:last-of-type,
.toggle-button input:not(:checked) ~ span:first-of-type {
  background: var(--bs-back-color);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px;
  color: var(--bs-text-color);
  padding: 7px 15px;
}

.text-area-container {
  position: relative;
}
.text-area-container textarea, .text-area-container .text-area-shadow {
  appearance: none;
  border: none;
  display: block;
  outline: none;
  margin: 0;
  padding: 6px 10px;
  font-size: var(--bs-text-size);
  background: #FFFFFF;
  color: var(--bs-text-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  line-height: 20px;
  text-align: left;
  overflow: visible;
  max-height: 400px;
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
  white-space: pre-wrap;
  word-break: break-all;
}
.text-area-container textarea:focus, .text-area-container textarea:focus-visible, .text-area-container .text-area-shadow:focus, .text-area-container .text-area-shadow:focus-visible {
  box-shadow: var(--bs-focused-color) 0 0 0 1px inset;
}
.text-area-container textarea {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.text-area-container .text-area-shadow {
  visibility: hidden;
}

.number-input {
  appearance: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 6px 10px;
  width: 100%;
  background: #FFFFFF;
  color: var(--bs-text-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px inset;
  border-radius: 4px;
  line-height: 20px;
  transition: box-shadow 200ms ease-out, opacity 200ms ease-out;
}
.number-input:focus, .number-input:focus-visible {
  box-shadow: var(--bs-focused-color) 0 0 0 1px inset;
}
.number-input:invalid {
  box-shadow: #FF4400 0 0 0 1px inset !important;
}

.body {
  margin: 10px 10px 10px 0;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}

.canvas-container {
  flex: 1;
}

.canvas-frame {
  border: none;
}

.add-on-container {
  height: 340px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0 0 inset;
}

.add-on-panel {
  overflow: auto;
}

.add-on-panel-content {
  overflow: auto;
}

.controls-panel table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--bs-text-color);
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.controls-panel table tbody tr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #e6e6e6;
}
.controls-panel table th {
  color: rgba(51, 51, 51, 0.75);
}
.controls-panel table th.name {
  padding: 10px 15px 10px 20px;
  width: 25%;
}
.controls-panel table th.control {
  display: flex;
}
.controls-panel table th.control span {
  flex: 1;
}
.controls-panel table td.name {
  padding: 10px 0 10px 20px;
  font-weight: bold;
  vertical-align: top;
}
.controls-panel table td .required {
  color: #FF4400;
  font-weight: normal;
  font-family: ui-monospace, Menlo, Monaco, "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Droid Sans Mono", "Courier New", monospace;
  cursor: help;
}
.controls-panel table th.control, .controls-panel table td.control {
  padding: 10px 20px 10px 15px;
}
