:root {
    --bs-sidebar-nav-color: #333333;
    --bs-sidebar-nav-subheading-color: #999999;
    --bs-focused-color: #1ea7fd;
    --bs-icon-folder-color: #2a0481;
    --bs-icon-story-container-color: #1ea7fd;
    --bs-icon-story-color: #37d5d3;
}
