:root {
    --bs-back-color: #f5fbff;
    --bs-dimmed-back-color: #ecf4f9;
    --bs-accent-color: #029cfd;
    //
    // --bs-hover-back-color: #ebf7ff;
    --bs-hover-back-color: rgba(2,156,253,0.12);
    --bs-hover-light-back-color: rgba(30,167,253,0.07);
    //
    --bs-text-size: 13px;
    --bs-text-color: #333333;
    --bs-dimmed-text-color: #73828c;
    --bs-caption-text-color: #2e3438;
    --bs-dimmed-hover-text-color: #5c6870;
    --bs-control-caption-size: 12px;
    --bs-sidebar-nav-color: var(---bs-text-color);
    --bs-sidebar-nav-active-color: #fff;
    --bs-sidebar-nav-active-back-color: #1ea7fd;
    --bs-focused-color: var(--bs-accent-color);
    // inputs
    --bs-inputs-background: #fff;
    --bs-inputs-box-shadow: hsla(203, 50%, 30%, 0.2) 0 0 0 1px inset;
    --bs-square-button-box-shadow: #d9e8f2 0 0 0 1px inset;
    // icons
    --bs-icon-folder-color: #2a0481;
    --bs-icon-story-container-color: var(--bs-accent-color);
    --bs-icon-story-color: #37d5d3;
    --bs-icon-document-color: #ff8300;
    --bs-keymap-text-color: #5c6870;
    --bs-keymap-back-color: rgba(0,0,0,0.05);
    // buttons
    --bs-button-flagged-back-color: rgba(2,156,253,0.07);
    // popup menu
    --bs-popup-back-color: rgba(255,255,255,0.95);
    --bs-popup-text-color: var(--bs-caption-text-color);
    --bs-popup-hover-back-color: rgba(2,156,253,0.07);
    --bs-popup-active-text-color: #ff4785;
    // scroll bar
    --bs-scrollbar-thumb-color: #ccc;
    --bs-scrollbar-back-color: #e0e0e0;
    // side bar
    --bs-sidebar-gap-size: 16px;
    --bs-sidebar-nav-indent-size: 16px;
}
