:root {
    --bs-back-color: #f5fbff;
    --bs-text-size: 13px;
    --bs-text-color: #333333;
    --bs-dimmed-text-color: #73828c;
    --bs-control-caption-size: 12px;
    --bs-sidebar-nav-color: var(---bs-text-color);
    --bs-sidebar-nav-active-color: #fff;
    --bs-sidebar-nav-active-back-color: #1ea7fd;
    --bs-focused-color: #029cfd;
    --bs-hover-back-color: rgba(30, 167, 253, 0.12);
    --bs-icon-folder-color: #2a0481;
    --bs-icon-story-container-color: #029cfd;
    --bs-icon-story-color: #37d5d3;
    --bs-keymap-text-color: #5c6870;
    --bs-keymap-back-color: rgba(0,0,0,0.05);
    --bs-popup-back-color: rgba(255,255,255,0.95);
    --bs-popup-text-color: #2E3438;
}
