@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
<div @ref="_containerElement" @attributes="AdditionalAttributes">
    @if (_isIntersecting)
    {
        @this.ChildContent
    }
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    public ElementReference ElementReference => _containerElement;

    private ElementReference _containerElement;

    private bool _isIntersecting;

    private IJSObjectReference? _observer;

    private DotNetObjectReference<IntersectionView>? _dotNetRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _dotNetRef = DotNetObjectReference.Create(this);
            await using var module = await JSRuntime.ImportAsync("Internals/Components/Layouts/IntersectionView.razor.js");
            _observer = await module.InvokeAsync<IJSObjectReference>("observe", _containerElement, _dotNetRef);
        }
    }

    [JSInvokable(nameof(OnIntersectionChange)), EditorBrowsable(EditorBrowsableState.Never)]
    public void OnIntersectionChange(bool isIntersecting)
    {
        _isIntersecting = isIntersecting;
        this.StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        await _observer.DisposeIfConnectedAsync("dispose");
        if (_dotNetRef is not null) _dotNetRef.Dispose();
    }
}
