@inherits LayoutComponentBase
@using Toolbelt.Blazor.HotKeys2

<HeadContent>
    <link rel="stylesheet" href="_content/BlazingStory/css/styles.min.css" />
</HeadContent>

<SvgIcons />

<PathQueryRouter>
    <SplitContainer Class="main-layout" @bind-FirstPaneSize="_SideBarSize" @bind-FirstPaneSize:after="OnSideBarSizeChanged" FirstPaneMinSize="210" SecondPaneMinSize="210">
        <FirstPane>
            <div class="sidebar-container fill">
                <SideBar />
            </div>
        </FirstPane>
        <SecondPane>
            @Body
        </SecondPane>
    </SplitContainer>
</PathQueryRouter>

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    private HelperScript HelperScript = default!;

    private int _SideBarSize = 210;

    private string SideBarSizeKeyName => this.GetType().Name + "." + nameof(_SideBarSize);

    protected override async Task OnInitializedAsync()
    {
        this.ConfigureCommands(this.Services);
        this.HelperScript = this.Services.GetRequiredService<HelperScript>();
        await this.HelperScript.SetupKeyDownReceiverAsync();
    }

    private void ConfigureCommands(IServiceProvider services)
    {
        var commandServce = services.GetRequiredService<CommandService>();
        commandServce.AddCommands(new Command[]
        {
            new(CommandType.OpenAddonPanel),
            new(CommandType.CloseAddonPanel, Code.A, "Hide addons [{0}]"),
            new(CommandType.ToggleAddonPanelOrientation, Code.D, "Change addon orientation [{0}]"),
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        this._SideBarSize = await this.HelperScript.GetLocalStorageItemAsync(this.SideBarSizeKeyName, this._SideBarSize);
        this.StateHasChanged();
    }

    private async Task OnSideBarSizeChanged()
    {
        await this.HelperScript.SetLocalStorageItemAsync(this.SideBarSizeKeyName, _SideBarSize);
    }
}