@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

<div class="preview-frame">
    <iframe id="@this._IframeElementId" @ref="_Iframe" src="@_InitialPreviewFrameUrl" @onload="OnPreviewIFrameLoaded"></iframe>
</div>

@code
{
    [Parameter, EditorRequired]
    public required Story Story { get; set; }

    [Parameter]
    public string? ViewMode { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public IReadOnlyDictionary<string, object?>? Args { get; set; }

    [Parameter]
    public IReadOnlyDictionary<string, object?>? Globals { get; set; }

    [Parameter]
    public EventCallback<ComponentActionEventArgs> OnComponentAction { get; set; }

    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    private readonly string _IframeElementId = "F" + Guid.NewGuid().ToString();

    /// <summary>
    /// Gets the initial preview frame URL.
    /// </summary>
    public string CurrentPreviewFrameUrl => this._CurrentPreviewFrameUrl;

    private ElementReference _Iframe;

    private string _InitialPreviewFrameUrl = "";

    private string _CurrentPreviewFrameUrl = "";

    private readonly JSModule _JSModule;

    private bool _AfterFirstRendered = false;

    private DotNetObjectReference<PreviewFrame>? _ThisRef;

    private IJSObjectReference? _EventMonitorSubscriber;

    /// <summary>
    /// Initializes a new instance of the <see cref="PreviewFrame"/> class.
    /// </summary>
    public PreviewFrame()
    {
        this._JSModule = new(() => this.JSRuntime, "Internals/Components/Preview/PreviewFrame.razor.js");
    }

    protected override void OnInitialized()
    {
        this._InitialPreviewFrameUrl = this._CurrentPreviewFrameUrl = this.GetPreviewFrameUrl();
    }

    protected override async Task OnParametersSetAsync()
    {
        await this.UpdatePreviewFrameUrlAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        this.StateHasChanged();
        this._AfterFirstRendered = true;
    }

    private async ValueTask UpdatePreviewFrameUrlAsync()
    {
        if (!this._AfterFirstRendered) return;
        var nextPreviewFrameUrl = this.GetPreviewFrameUrl();
        if (this._CurrentPreviewFrameUrl == nextPreviewFrameUrl) return;
        this._CurrentPreviewFrameUrl = nextPreviewFrameUrl;
        await _JSModule.InvokeVoidAsync("navigatePreviewFrameTo", this._Iframe, nextPreviewFrameUrl);
    }

    private async Task OnPreviewIFrameLoaded(ProgressEventArgs obj)
    {
        try
        {
            var options = Services.GetRequiredService<BlazingStoryOptions>();
            if (options.EnableHotReloading)
            {
                await EnsureDotnetWatchScriptInjected();
            }

            this._ThisRef = DotNetObjectReference.Create(this);
            this._EventMonitorSubscriber = await _JSModule.InvokeAsync<IJSObjectReference>("subscribeComponentActionEvent", this._Iframe, this._ThisRef, nameof(ComponentActionEventCallback));
        }

        // In some cases, such as when a user navigates away from the page during this async operation,
        // the JSModule may be disposed before the async operation completes.
        // Ignore the "ObjectDisposedException" exception in this case.
        catch (ObjectDisposedException){ }
    }

    /// <summary>
    /// Gets the URL for the preview frame, from the component parameters(args).
    /// </summary>
    private string GetPreviewFrameUrl()
    {
        // "Stringify" the component args to encode them to the URL query string.
        var args = this.Args?.ToDictionary(
            keySelector: x => x.Key,
            elementSelector: x => (object?)this.Story.Context.ConvertParameterValueToString(x.Key, x.Value)
        );

        return UriParameterKit.GetUri(
            uri: "./iframe.html",
            parameters: new Dictionary<string, object?>
                {
                    ["viewMode"] = this.ViewMode,
                    ["id"] = this.Id,
                    ["args"] = UriParameterKit.EncodeKeyValues(args),
                    ["globals"] = UriParameterKit.EncodeKeyValues(this.Globals)
                });
    }


    internal async ValueTask ReloadAsync()
    {
        await this._JSModule.InvokeVoidAsync("reloadPreviewFrame", this._Iframe);
    }

    internal async ValueTask ZoomInAsync()
    {
        await this._JSModule.InvokeVoidAsync("zoomInPreviewFrame", this._Iframe);
    }

    internal async ValueTask ZoomOutAsync()
    {
        await this._JSModule.InvokeVoidAsync("zoomOutPreviewFrame", this._Iframe);
    }

    internal async ValueTask ResetZoomAsync()
    {
        await this._JSModule.InvokeVoidAsync("resetZoomPreviewFrame", this._Iframe);
    }

    private async ValueTask EnsureDotnetWatchScriptInjected()
    {
        await this._JSModule.InvokeVoidAsync("ensureDotnetWatchScriptInjected", this._Iframe);
    }

    [JSInvokable(nameof(ComponentActionEventCallback))]
    public async Task ComponentActionEventCallback(string name, string argsJson)
    {
        await this.OnComponentAction.InvokeAsync(new(name, argsJson));
    }

    public async ValueTask DisposeAsync()
    {
        await _EventMonitorSubscriber.DisposeIfConnectedAsync("dispose");
        await _JSModule.DisposeAsync();
        _ThisRef?.Dispose();
    }
}