.preview-frame {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;

    .pooled-iframe {
        position: absolute;
        inset: 0;

        iframe {
            transition: width .3s,height .3s;
            box-sizing: content-box;
        }
    }
}
