@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

@if (this.Visible)
{
    <div class="code-view">

        <pre><code @key="_RenderGen" @ref="_CodeElementRef" class="language-html">@this._CodeText</code></pre>

        <CornerButton Class="copy-button" OnClick="OnClickCopyButton">
            @(this._Copied ? "Copied" : "Copy")
        </CornerButton>

    </div>
}

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    [Parameter]
    public Story? Story { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    private string? _SourceCodeText = null;

    private string? _CodeText;

    private bool _Copied = false;

    private readonly JSModule _JSModule;

    private ElementReference _CodeElementRef;

    private bool _PrevVisible = false;

    private int _RenderGen = 1;

    private int _HighlightedGen = 0;

    public CodeView()
    {
        this._JSModule = new(() => this.JSRuntime, "prism.js");
    }

    protected override async Task OnParametersSetAsync()
    {
        base.OnParametersSet();

        if (!this._PrevVisible && this.Visible) this._RenderGen++;
        this._PrevVisible = this.Visible;

        if (this.Visible == true && this._SourceCodeText == null && this.Story != null)
        {
            this._SourceCodeText = await StoriesRazorSource.GetSourceCodeAsync(this.Story);
            this.UpdateCodeTextWithArgument();
        }
    }

    protected override void OnInitialized()
    {
        if (this.Story == null) throw new InvalidOperationException("Story is required");
        this.Story.Context.ArgumentChanged += this.Context_ArgumentChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (this.Visible && this._HighlightedGen != this._RenderGen)
        {
            await this._JSModule.InvokeVoidAsync("highlightElement", _CodeElementRef);
            this._HighlightedGen = this._RenderGen;
        }
    }

    private ValueTask Context_ArgumentChanged()
    {
        this.UpdateCodeTextWithArgument();
        this._RenderGen++;
        this.StateHasChanged();
        return ValueTask.CompletedTask;
    }

    private void UpdateCodeTextWithArgument()
    {
        this._CodeText = this._SourceCodeText;
        if (this.Story == null || this._SourceCodeText == null) return;
        this._CodeText = StoriesRazorSource.UpdateSourceTextWithArgument(Story, this._SourceCodeText);
    }

    private async Task OnClickCopyButton()
    {
        if (this._CodeText == null) return;

        await Services.GetRequiredService<HelperScript>().CopyTextToClipboardAsync(this._CodeText);
        this._Copied = true;
        this.StateHasChanged();

        await Task.Delay(1500);
        this._Copied = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (this.Story != null) this.Story.Context.ArgumentChanged -= this.Context_ArgumentChanged;
        await _JSModule.DisposeAsync();
    }
}
