@using BlazingStory.ToolKit.Views
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

@if (this.Visible)
{
    <div class="code-view">
        <CodeBlock CodeText="@this._CodeText" Language="html" />

        <CornerButton Class="copy-button" OnClick="OnClickCopyButton">
            @(this._Copied ? "Copied" : "Copy")
        </CornerButton>
    </div>
}

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    [Parameter]
    public IStory? Story { get; set; }

    [Parameter]
    public bool Visible { get; set; }

    private Task<string>? _SourceCodeTextTask = null;

    private string? _CodeText;

    private bool _Copied = false;

    protected override async Task OnInitializedAsync()
    {
        if (this.Story == null) throw new InvalidOperationException("Story is required");
        this.Story.Context.ArgumentChanged += this.Context_ArgumentChanged;
        this._SourceCodeTextTask = StoriesRazorSource.GetSourceCodeAsync(this.Story).AsTask();
        await this.UpdateCodeTextWithArgumentAsync();
    }

    private async ValueTask Context_ArgumentChanged()
    {
        await this.UpdateCodeTextWithArgumentAsync();
        this.StateHasChanged();
    }

    private async ValueTask UpdateCodeTextWithArgumentAsync()
    {
        if (this.Story == null || this._SourceCodeTextTask == null) return;
        this._CodeText = await this._SourceCodeTextTask;
        this._CodeText = await StoriesRazorSource.UpdateSourceTextWithArgumentAsync(this.Story, this._CodeText);
    }

    private async Task OnClickCopyButton()
    {
        if (this._CodeText == null) return;

        await Services.GetRequiredService<HelperScript>().CopyTextToClipboardAsync(this._CodeText);
        this._Copied = true;
        this.StateHasChanged();

        await Task.Delay(1500);
        this._Copied = false;
    }

    public async ValueTask DisposeAsync()
    {
        if (this.Story != null) this.Story.Context.ArgumentChanged -= this.Context_ArgumentChanged;
    }
}
