.code-view {
    overflow-x: auto;
    background-color: var(--bs-code-back-color);
    padding: 20px;

    .copy-button {
        color: var(--bs-code-copy-text-color);
        background-color: var(--bs-code-copy-back-color);
    }
}
