.code-view {
    overflow-x: auto;
    background-color: var(--bs-code-back-color);

    pre {
        font-family: var(--bs-monospace-font-family);
        font-size: 13px;
        padding: 20px;
        color: var(--bs-code-text-color);

        code {
            color: #ededed;
            // Prism syntax highlighting
            .token {
                &.punctuation {
                    color: #807e74;
                }

                &.tag {
                    color: #009696;
                }

                &.attr-name {
                    color: #9cdcfe;
                }

                &.attr-value,
                &.attr-value .punctuation {
                    color: #c8c8c8;
                }


                &.comment {
                    color: #57a64a;
                    font-style: italic;
                }
            }
        }
    }

    .copy-button {
        color: var(--bs-code-copy-text-color);
        background-color: var(--bs-code-copy-back-color);
    }
}
