@implements IAsyncDisposable

@if (this.Visible)
{
    <div class="code-view">

        <pre><code @key="_RenderGen" @ref="_CodeElementRef" class="language-html">@this._CodeText</code></pre>

        <CornerButton Class="copy-button" OnClick="OnClickCopyButton">
            @(this._Copied ? "Copied" : "Copy")
        </CornerButton>

    </div>
}
