.docs-page {
    position: absolute;
    inset: 0;
    color: var(--bs-text-color);

    .docs-main {
        padding: 4rem 20px;
        overflow: auto;

        .docs-contents {
            max-width: 1000px;
            margin: 0 auto;

            h1 {
                font-size: 32px;
                line-height: 36px;
                padding: 0;
                margin: 0 0 16px 0;
                display: inline-block;
            }

            h2 {
                font-size: 13px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: 0.35em;
                text-transform: uppercase;
                color: var(--bs-dimmed-text-color);
                padding: 0 0 4px 0;
                margin: 56px 0 12px 0;
            }

            h3 {
                margin: 0 0 8px 0;
                font-size: 20px;
                color: var(--bs-caption-text-color);
                font-weight: 700;
            }

            & > .summary {
                margin: 16px 0;
                font-size: 14px;
                line-height: 24px;
            }

            & > blockquote {
                font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 16px;
                margin: 16px 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-overflow-scrolling: touch;
                border-left: 4px solid #D9E8F2;
                padding: 0 15px;
                color: #5C6870;

                & > p > a {
                    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular", "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
                    font-size: 16px;
                    margin: 0;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                    -webkit-overflow-scrolling: touch;
                    font-size: inherit;
                    line-height: 24px;
                    color: #029CFD;
                    -webkit-text-decoration: none;
                    text-decoration: none;
                }
            }

            & > .first-story {
                margin: 25px 0 40px 0;
            }

            .controls-panel {
                tbody {
                    border: solid 1px var(--bs-add-on-panel-border-color);
                    filter: drop-shadow(0px 1px 3px var(--bs-border-color));

                    tr:first-of-type {
                        td:first-of-type {
                            border-top-left-radius: 4px;
                        }

                        td:last-of-type {
                            border-top-right-radius: 4px;
                        }
                    }

                    tr:last-of-type {
                        td:first-of-type {
                            border-bottom-left-radius: 4px;
                        }

                        td:last-of-type {
                            border-bottom-right-radius: 4px;
                        }
                    }
                }
            }
        }
    }
}
