.story-preview {
    position: relative;
    margin: 16px 0 40px 0;
    border: solid 1px var(--bs-border-color);
    border-radius: 4px;
    box-shadow: var(--bs-border-color) 0 1px 3px 0;

    & > .preview-part {
        position: relative;

        .preview-frame-viewport {
            position: relative;
            height: 95px;
            min-height: 95px;
            max-height: max(95px, 100vh);
            transition: height linear 0.2s;

            iframe {
                position: absolute; // NOTICE: this is needed to make the iframe fill the viewport!
            }
        }
    }
}
