@if (this.Story != null)
{
    <div class="story-preview">

        <ToolBar>
            <IconButton Icon="SvgIconType.ZoomIn" Title="Zoom In" OnClick="OnClickZoomIn" />
            <IconButton Icon="SvgIconType.ZoomOut" Title="Zoom Out" OnClick="OnClickZoomOut" />
        </ToolBar>

        <div class="preview-frame-viewport">
            <PreviewFrame @ref="_PreviewFrame"
                          ViewMode="story"
                          Id="@this.Story.NavigationPath"
                          Args="this.Story.Context.Args"
                          Globals="null" />
        </div>
    </div>
}

@code
{
    [Parameter]
    public Story? Story { get; set; }

    private PreviewFrame? _PreviewFrame;

    private async void OnClickZoomIn()
    {
        if (this._PreviewFrame != null) await this._PreviewFrame.ZoomInAsync();
    }

    private async void OnClickZoomOut()
    {
        if (this._PreviewFrame != null) await this._PreviewFrame.ZoomOutAsync();
    }
}