@if (this.Story != null)
{
    <div class="story-preview">

        <div class="preview-part">

            @if (this.EnableZoom)
            {
                <ToolBar>
                    <IconButton Icon="SvgIconType.ZoomIn" Title="Zoom In" OnClick="OnClickZoomIn" />
                    <IconButton Icon="SvgIconType.ZoomOut" Title="Zoom Out" OnClick="OnClickZoomOut" />
                    <IconButton Icon="SvgIconType.ZoomReset" Title="Reset Zoom" OnClick="OnClickResetZoom" />
                </ToolBar>
            }

            <div class="preview-frame-viewport" style="@this.StyleString">
                <PreviewFrame @ref="_PreviewFrame"
                              Story="this.Story"
                              ViewMode="story"
                              Id="@this.Story.NavigationPath"
                              Args="this.Story.Context.Args"
                              Globals="this.Globals"
                              OnFrameHeightChanged="OnFrameHeightChanged" />
            </div>

            <!-- "Show Code" -->
            <CornerButton Class="show-code-button" OnClick="() => { this._ShowCode = !this._ShowCode; }">
                @(this._ShowCode ? "Hide code" : "Show code")
            </CornerButton>

        </div>

        <!-- Code View -->
        <CodeView Story="this.Story" Visible="this._ShowCode" />
    </div>
}

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    [Parameter, EditorRequired]
    public required Story Story { get; set; }

    [Parameter]
    public bool EnableZoom { get; set; }

    [Parameter]
    public IReadOnlyDictionary<string, object?>? Globals { get; set; }

    private PreviewFrame? _PreviewFrame;

    private bool _ShowCode = false;

    private int _FrameHeight = -1;

    private string StyleString => _FrameHeight >= 0 ? $"height: {_FrameHeight}px;" : "";

    /// <summary>
    /// Invoked when the frame height changes, and updates the style accordingly to prevent nested scrolling.
    /// </summary>
    private void OnFrameHeightChanged(int height)
    {
        _FrameHeight = height;
    }

    private async void OnClickZoomIn()
    {
        if (this._PreviewFrame != null) await this._PreviewFrame.ZoomInAsync();
    }

    private async void OnClickZoomOut()
    {
        if (this._PreviewFrame != null) await this._PreviewFrame.ZoomOutAsync();
    }

    private async void OnClickResetZoom()
    {
        if (this._PreviewFrame != null) await this._PreviewFrame.ResetZoomAsync();
    }
}