.caption {
    display: flex;
    justify-content: space-between;
    height: 23px;
}

    .caption button, .caption a {
        outline: 0;
        border: none;
        color: var(--bs-sidebar-nav-color);
        background-color: transparent;
        cursor: pointer;
    }

.action {
    align-items: center;
    font-size: 13px;
    font-stretch: 100%;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 24px;
    padding: 3px 10px 3px 1px;
    appearance: none;
    text-decoration: none;
}

    .action:hover, button.action:focus {
        background-color: rgba(30, 167, 253, 0.07);
    }

button.action:focus {
    background-color: #d5edfc;
}

.type-story.active > .caption a {
    color: var(--bs-sidebar-nav-active-color);
    background-color: var(--bs-sidebar-nav-active-back-color);
    font-weight: bold;
}

.type-story.active > .caption .action ::deep svg {
    fill: #fff;
}

/* ---- Chevron ---- */
.chevron {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    margin-right: 5px;
    color: rgba(153,153,153,0.6);
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 3px solid;
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(0deg);
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
}

.expanded > .caption .chevron {
    transform: rotateZ(90deg);
}

.type-story > .caption .chevron {
    visibility: hidden;
}

/* ---- Sub Items ---- */
.sub-items {
    /*padding-left: 10px;*/
    display: none;
}

.expanded > .sub-items {
    display: block;
}

/* ---- Sub Heading ---- */

.sub-heading > .caption .action {
    font-size: 11px;
    color: var(--bs-sidebar-nav-subheading-color);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3.85px;
    width: unset;
}

    .sub-heading > .caption .action:hover,
    .sub-heading > .caption .action:focus {
        background-color: transparent;
    }

.sub-heading > .caption button:focus-visible {
    outline: 1px solid var(--bs-focused-color);
    border-radius: 28px;
}

.sub-heading > .caption .action:focus {
    color: var(--bs-focused-color);
}

.sub-heading > .caption .action .icon {
    display: none;
}

.sub-heading > .caption .action:focus .chevron {
    color: var(--bs-focused-color);
}

.sub-heading-action {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0 20px 0 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.expanded > .caption .sub-heading-action {
    visibility: visible;
}

.sub-heading-action ::deep svg {
    fill: var(--bs-sidebar-nav-subheading-color);
    margin: 0;
}

.sub-heading-action:hover ::deep svg,
.sub-heading-action:focus ::deep svg {
    fill: var(--bs-focused-color);
}

.sub-heading > .caption .sub-items {
    padding-left: 0;
}


/* ---- Icons ---- */
.type-container > .caption .action ::deep svg {
    fill: var(--bs-icon-folder-color);
}

.type-story-collection > .caption .action ::deep svg {
    fill: var(--bs-icon-story-container-color);
}

.type-story > .caption .action ::deep svg {
    fill: var(--bs-icon-story-color);
}
