<div class="container">
    <div>Value1: @Value1</div>
    <div>Value2: @Value2</div>
</div>

@code {
    [Parameter] public LargeEnum Value1 { get; set; }
    [Parameter] public LargeEnum Value2 { get; set; }
}
