<button class="icon-button" type="@Type.ToString().ToLower()"
    style="@(Color == null ? "" : ("background-color: " + Color));" @onclick="@OnClick">
    <span class="material-icons">@Icon.ToString().ToLower()</span>
</button>

@code
{
    /// <summary>
    /// Gets or sets the type of icon to display.
    /// </summary>
    [Parameter, EditorRequired]
    public Icon Icon { get; set; } = Icon.Add;

    /// <summary>
    /// Gets or sets the button type to be set in the type attribute of the button element rendered by this component.
    /// </summary>
    [Parameter]
    public ButtonType Type { get; set; } = ButtonType.Button;

    /// <summary>
    /// Gets or sets the background color of the button specified in HTML color code.
    /// </summary>
    [Parameter]
    public string? Color { get; set; }

    /// <summary>
    /// Gets or sets the callback to be called when the button is clicked.
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}