.action-log-line {
    display: flex;
    align-items: start;
    margin-left: 5px;

    & > .action-repeat {
        font-family: var(--bs-font-family);
        font-size: var(--bs-control-caption-size);
        background-color: rgba(255,255,255,0.6);
        color: #222425;
        font-weight: 700;
        line-height: 1;
        border-radius: 20px;
        padding: 1px 5px;
        margin: 1px 0px;
    }

    & > .action-log-content {
        flex: 1;
        overflow: hidden;

        & > .action-log-parent {
            height: 19px;
            display: flex;
            align-items: center;

            & > .action-args-node {
                color: rgba(255, 255, 255, 0.3);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8px;
                width: 18px;
                height: 18px;
                user-select: none;
                transform: rotateZ(0deg);

                &.expanded {
                    transform: rotateZ(90deg);
                }
            }

            & > .action-name {
                color: rgb(227, 110, 236);
                //margin-left: 5px;
            }

            & > .separator {
                margin-left: 1px;
                width: 14px;
            }

            & > .action-value {
                flex: 1;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        & > .action-log-children {
            padding-left: 20px;
        }
    }
}
