@using System.Text.Json

@implements IDisposable

<div class="actions-panel">

    <div class="actions-panel-scroll-window">
        @foreach (var log in this._ActionLogs ?? Enumerable.Empty<ComponentActionLog>())
        {
            <ActionsPanelLogLine @key="log.Id" Repeat="@log.Repeat" Name="@log.Name" Value="@log.ArgsJsonElement" />
        }
    </div>

    <CornerButton OnClick="OnClickClear">
        Clear
    </CornerButton>
</div>
