.actions-panel {
    font-family: var(--bs-monospace-font-family);
    font-size: var(--bs-text-size);
    padding: 10px 5px 20px 5px;

    & > .action-log-line > .action-log-content > .action-log-parent > .action-args-node.no-children {
        width: 4px;
    }
}
