@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyBlazorWasmApp1.Stories</title>
    <base href="@(new Uri(NavigationManager.BaseUri).AbsolutePath)" />
    <ImportMap />
    <!--
    If you need to add <link> or <script> elements to include CSS 
    or JavaScript files for canvas views of your Stories,
    YOU SHOULD PLACE THEM HERE, not in the "IndexPage.razor" file.
    -->
    <link rel="stylesheet" href="css/blazor-ui.css" />
    <link rel="stylesheet" href="MyBlazorWasmApp1.Stories.styles.css" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <MyBlazorWasmApp1.Stories.Components.App @rendermode="@InteractiveServer" />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!--
    If you need to add <script> elements to include 
    JavaScript files for canvas views of your Stories,
    YOU SHOULD PLACE THEM HERE, not in the "IndexPage.razor" file.
    -->
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
