<label class="text-area-container">
    <textarea class="bs-basic-inputs" placeholder="@this.PlaceHolder" @oninput="OnTextAreaInput" value="@(this.Value ?? "")"></textarea>
    <div class="bs-basic-inputs text-area-shadow">@((this._Value ?? "") + " ")</div>
</label>

@code
{
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public string? PlaceHolder { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnInput { get; set; }

    private string? _Value;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        this._Value = this.Value;
    }

    private async Task OnTextAreaInput(ChangeEventArgs args)
    {
        this._Value = args.Value?.ToString();
        await this.OnInput.InvokeAsync(args);
    }
}