<label class="text-area-container">
    <textarea placeholder="@this.PlaceHolder" @oninput="@((args) => this.OnInput.InvokeAsync(args))" value="@(this.Value ?? "")"></textarea>
    <div class="text-area-shadow">@((this.Value ?? "") + " ")</div>
</label>

@code
{
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public string? PlaceHolder { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> OnInput { get; set; }
}