.text-area-container {
    position: relative;

    textarea, .text-area-shadow {
        max-height: 400px;
        white-space: pre-wrap;
        word-break: break-all;
    }

    textarea {
        position: absolute;
        inset: 0;
    }

    .text-area-shadow {
        visibility: hidden;
    }
}
