.search-field {
    position: relative;

    input {
        appearance: none;
        height: 32px;
        padding: 1px 32px 3px 30px;
        border: 1px solid rgba(153,153,153,0.4);
        background: transparent;
        border-radius: 28px;
        font-size: 13px;
        font-family: inherit;
        -webkit-transition: all 150ms;
        transition: all 150ms;
        color: var(--bs-text-color);
        width: 100%;

        &:focus {
            outline: 0;
            background: var(--bs-back-color);
            border-color: var(--bs-focused-color);
        }
    }

    .find-icon {
        --bs-svg-icon-size: 14px;
        position: absolute;
        left: 11px;
        top: 6px;
        color: var(--bs-dimmed-text-color);
        pointer-events: none;
    }

    .shortcut-keymap {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    .clear-icon {
        display: none;
        position: absolute;
        top: 5px;
        right: 11px;
        width: 16px;
        height: 16px;
        padding: 4px;
        z-index: 1;
        background: rgba(0,0,0,0.05);
        border-radius: 16px;
        color: #5C6870;
        cursor: pointer;
    }

    &.has-focus, &.has-text {
        .shortcut-keymap {
            display: none;
        }
    }

    &.has-text {
        .clear-icon {
            display: block;
        }
    }
}
