@using BlazingStory.Internals.Components.SideBar.NavigationTree
@using BlazingStory.Internals.Components.SideBar.SearchAndHistory

<CascadingValue Value="this._NavigationHistory">

    <nav class="sidebar stack vertical">

        <div class="sidebar-header">

            <span class="sidebar-header-title">
                @BlazingStoryApp.Title
            </span>

            <SettingsMenu />

        </div>

        <SearchAndHistory @bind-SearchMode="this._SearchMode" />

        @if (!_SearchMode)
        {
            <NavigationTree />
        }

    </nav>

</CascadingValue>

@code
{
    [CascadingParameter]
    protected IServiceProvider Services { get; init; } = default!;

    private bool _SearchMode = false;

    private NavigationHistory? _NavigationHistory;

    protected override async Task OnInitializedAsync()
    {
        var helperScript = Services.GetRequiredService<HelperScript>();
        this._NavigationHistory = new(helperScript);
        await this._NavigationHistory.InitializeAsync();
    }
}