.sidebar {
    .sidebar-header {
        display: flex;
        height: 28px;
        align-items: center;
        margin-bottom: var(--bs-sidebar-gap-size);

        .sidebar-header-title {
            flex: 1;
            height: 24px;
            line-height: 24px;
            font-size: 16px;
            font-weight: 900;
            color: var(--bs-sidebar-header-title-color);
            text-shadow: 0.5px 0 0 var(--bs-sidebar-header-title-color);
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: -2px center;
            white-space: nowrap;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .settings-popup-menu .popup-menu-holder {
            min-width: 180px;
        }
    }

    .explorer-menu {
        margin-left: -20px;
        margin-right: -20px;
    }
}
