.sidebar {

    .sidebar-header {
        display: flex;
        min-height: 42px;
        align-items: center;
        margin-bottom: var(--bs-sidebar-gap-size);
        padding-left: 8px;

        .sidebar-header-title {
            flex: 1;
            height: 24px;
            line-height: 24px;
            font-size: 16px;
            font-weight: 900;
            color: var(--bs-sidebar-header-title-color);
            text-shadow: 0.5px 0 0 var(--bs-sidebar-header-title-color);
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: -2px center;
            white-space: nowrap;

            a {
                text-decoration: none;
                color: inherit;
            }
        }

        .settings-popup-menu {

            .popup-menu-trigger {
                .icon-button {
                    width: 32px;
                    height: 32px;
                    justify-content: center;
                }
            }

            .popup-menu-holder {
                min-width: 180px;
            }
        }
    }

    .explorer-menu {
        margin: 0;
    }
}
