.sidebar {

    .sidebar-header {
        font-size: 18px;
        font-weight: bold;
        height: 28px;
    }

    .search-field {
        input {
            appearance: none;
            height: 28px;
            padding-left: 28px;
            padding-right: 28px;
            border: 1px solid rgba(153,153,153,0.4);
            background: transparent;
            border-radius: 28px;
            font-size: 12px;
            font-family: inherit;
            -webkit-transition: all 150ms;
            transition: all 150ms;
            color: var(--bs-text-color);
            width: 100%;

            &:focus {
                outline: 0;
                background: var(--bs-back-color);
                border-color: var(--bs-focused-color);
            }
        }
    }

    .explorer-menu {
        margin-left: -20px;
        margin-right: -20px;
    }
}
