@using BlazingStory.Internals.Components.SideBar.NavigationTree
@using BlazingStory.Internals.Components.SideBar.SearchAndHistory

<nav class="sidebar stack vertical">

    <div class="sidebar-header">

        <span class="sidebar-header-title">
            @BlazingStoryApp.Title
        </span>

        <SettingsMenu />

    </div>

    <SearchAndHistory  @bind-SearchMode="this._SearchMode" />

    @if (!_SearchMode)
    {
        <NavigationTree />
    }

</nav>

@code
{
    private bool _SearchMode = false;
}