<nav class="sidebar stack vertical">

    <div class="sidebar-header">

        <span class="sidebar-header-title">
            @BlazingStoryApp.Title
        </span>

        <SettingsMenu />

    </div>

    <SearchField />

    <NavigationTree />

</nav>
