@using BlazingStory.Internals.Components.SideBar.NavigationTree
@using BlazingStory.Internals.Components.SideBar.SearchAndHistory

<nav class="sidebar stack vertical">

    <div class="sidebar-header">
        
        <div class="sidebar-header-title">
            @if (this.BlazingStoryApp?.BrandLogoArea != null)
            {
                <text>@this.BlazingStoryApp.BrandLogoArea(this.BlazingStoryApp)</text>
            }
            else
            {
                <BrandLogo />
            }
        </div>

        <SettingsMenu />

    </div>

    <SearchAndHistory @bind-SearchMode="this._SearchMode" />

    @if (!_SearchMode)
    {
        <NavigationTree NavigationRoot="this._NavigationRoot" />
    }

</nav>
