.sidebar {

    .sidebar-header {
        display: flex;
        height: 28px;
        align-items: center;

        .sidebar-header-title {
            font-size: 18px;
            font-weight: bold;
            flex: 1;
        }

        .settings-popup-menu .popup-menu-holder {
            min-width: 180px;
        }
    }

    .explorer-menu {
        margin-left: -20px;
        margin-right: -20px;
    }
}
