<div class="@CssClass("key-map", this.Class ?? "", new {this.FreeSize})">
    @foreach (var keyText in this.Key?.EnumKeyTexts() ?? Enumerable.Empty<string>())
    {
        <code>@keyText</code>
    }
</div>
@code
{
    [Parameter, EditorRequired]
    public HotKeyCombo? Key { get; set; }

    [Parameter]
    public bool FreeSize { get; set; }

    [Parameter]
    public string? Class { get; set; }
}