@using System.Diagnostics
@using System.Reflection
@using System.Runtime.CompilerServices
@using System.Runtime.Versioning

<div class="settings-about-panel">

    <header>
        <img src="./_content/BlazingStory/images/icon.min.svg" width="32" height="32" style="margin-right:8px;" />
        Blazing Story @VersionString
    </header>

</div>

@code
{
    private string? VersionString;

    protected override void OnInitialized()
    {
        var assembly = this.GetType().Assembly;
        var verInfo = assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>();
        this.VersionString = verInfo?.InformationalVersion ?? assembly.GetName().Version?.ToString();
    }
}