<div class="settings-about-panel">

    <header>
        <img src="./_content/BlazingStory/images/icon.min.svg" width="32" height="32" style="margin-right:8px;" />
        Blazing Story @VersionInfo.GetVersionText()
    </header>

    <section>
        <BlazingStory.Internals.Components.Markdown.MarkdownDisplay MarkdownString="@this._ReadmeMd" />
    </section>
</div>

@code
{
    [CascadingParameter]
    internal IServiceProvider Services { get; init; } = default!;

    private string? _ReadmeMd;

    protected override async Task OnInitializedAsync()
    {
        var webAssets = this.Services.GetRequiredService<WebAssets>();
        var readmeMd = await webAssets.GetStringAsync("_content/BlazingStory/README.txt");

        this._ReadmeMd = readmeMd;
    }
}
