<header>Blazing Story @VersionInfo.GetFormattedVersionText() - @VersionInfo.GetBuildTimestamp()</header>

<section>
    @foreach (var releaseNoteSection in this._ReleaseNoteSections)
    {
        <h3>@releaseNoteSection.VersionTitle</h3>
        <ul>
            @foreach (var changeLog in releaseNoteSection.ChangeLogs)
            {
                <li>@changeLog</li>
            }
        </ul>
    }
</section>
