.menu-item.command-menu-item {
    padding: 0 15px 0 8px;

    &.has-hotkey {
        height: 33px;
    }

    .check-mark-area {
        color: var(--bs-focused-color);
        width: 17px;
    }

    .command-title {
        flex: 1;
    }

    .hotkey-area {
        padding-left: 10px;
    }
}
