@implements IAsyncDisposable

<div @ref="this._PopupMenuElement" class="popup-menu @Class">

    <div class="popup-menu-trigger">
        <div class="popup-menu-trigger-content" @onclick="OpenPopup">
            @Trigger
        </div>
        <div class="popup-menu-anchor">
            @if (_PopupShown)
            {
                <div class="popup-menu-holder" style="@this._PopupStylesString">
                    <div class="popup-menu-leader"></div>
                    <div class="popup-menu-body">
                        @MenuItems
                    </div>
                </div>
            }
        </div>
    </div>

</div>
