<BlazingStoryApp Title="My Story"
                 Assemblies="[typeof(App).Assembly]"
                 DefaultLayout="typeof(DefaultLayout)"
                 EnableHotReloading="true">
    <BrandLogoArea>
        <BrandLogo IconUrl="https://github.githubassets.com/apple-touch-icon-76x76.png" />
@*         <div style="font-family:'Comic Sans MS';">
            @context.Title
        </div> *@
    </BrandLogoArea>
</BlazingStoryApp>