<button class="corner-button @Class" @onclick="OnClick">
    @ChildContent
</button>

@code
{
    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
