<button class="icon-button @Class" title="@this.GetTitleText()" @onclick="this.ClickHandler">
    <SvgIcon Type="Icon" />
</button>

@code {
    [Parameter]
    public SvgIconType Icon { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public Command? Command { get; set; }

    private string? GetTitleText() => this.Title ?? this.Command?.Title;

    private async Task ClickHandler(MouseEventArgs args)
    {
        var t1 = this.OnClick.InvokeAsync(args);
        if (this.Command != null) await this.Command.InvokeAsync();
        await t1;
    }
}