.icon-button {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    padding: 1px 6px;

    & svg {
        width: 16px;
        height: 16px;
        fill: var(--bs-sidebar-nav-subheading-color);
    }

    &:hover {
        background-color: var(--bs-hover-back-color);

        svg {
            fill: var(--bs-focused-color);
        }
    }
}

a.icon-button {
    padding-top: 2px;
}
