.icon-button {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    padding: 1px 6px;
    color: var(--bs-dimmed-text-color);

    & > svg {
        width: 16px;
        height: 16px;
        pointer-events: none;
    }

    &.active {
        background-color: var(--bs-hover-back-color);
        background-color: var(--bs-button-flagged-back-color);
        color: var(--bs-focused-color);
    }

    &:hover {
        background-color: var(--bs-hover-back-color);
        color: var(--bs-focused-color);
    }
}

a.icon-button {
    padding-top: 3px;
}
