<button class="icon-button @Class" title="@Title" @onclick="(args => OnClick.InvokeAsync(args))">
    <SvgIcon Type="Icon" />
</button>

@code {
    [Parameter]
    public SvgIconType Icon { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Class { get; set; }
}