<button class="@CssClass("square-button", new { ButtonStyle })" @onclick="@(() => this.OnClick.InvokeAsync())">@Text</button>

@code
{
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public ButtonStyle ButtonStyle { get; set; } = ButtonStyle.Default;
}
