<button class="square-button" @onclick="@(() => this.OnClick.InvokeAsync())">@Text</button>

@code
{
    /// <summary>
    /// Gets or sets the text.
    /// </summary>
    /// <value>
    /// The text.
    /// </value>
    [Parameter]
    public string? Text { get; set; }

    /// <summary>
    /// Gets or sets the on click.
    /// </summary>
    /// <value>
    /// The on click.
    /// </value>
    [Parameter]
    public EventCallback OnClick { get; set; }
}
