.toggle-button {
    cursor: pointer;
    line-height: 18px;
    align-items: center;
    margin-bottom: 8px;
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    background: var(--bs-dimmed-back-color);
    border-radius: 3em;
    padding: 1px;


    input {
        appearance: none;
        outline: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        border-radius: 3em;

        &:focus, &:focus-visible {
            box-shadow: var(--bs-focused-color) 0 0 0 1px inset !important;
        }
    }

    span {
        text-align: center;
        font-size: var(--bs-control-caption-size);
        font-weight: 700;
        line-height: 1;
        cursor: pointer;
        display: inline-block;
        padding: 7px 15px;
        transition: all 100ms ease-out;
        user-select: none;
        border-radius: 3em;
        color: var(--bs-caption-text-half-color2);
        background: transparent;

        &:first-of-type {
            padding-right: 8px;
        }

        &:last-of-type {
            padding-left: 8px;
        }
    }

    input:checked ~ span:last-of-type,
    input:not(:checked) ~ span:first-of-type {
        background: var(--bs-toggle-button-back-color);
        box-shadow: var(--bs-toggle-button-shadow);
        color: var(--bs-caption-text-color);
        padding: 7px 15px;
    }
}
