@inherits IdentifiedComponentBase

<span style="display: flex;">
    <span style="color: @(this.Color ?? _DefaultColor)">
        @for (var i = 0; i < this.Rate; i++)
        {
            <span @key="@("star-" + i)">Åö</span>
        }
    </span>
    <span>
        @for (var i = 0; i < MaxRate - this.Rate; i++)
        {
            <span @key="@("nostar-"+i)">Åô</span>
        }
    </span>
</span>

@code
{
    /// <summary>
    /// Gets or sets the score of rating.
    /// </summary>
    [Parameter]
    public int Rate { get; set; }

    private const int MaxRate = 5;

    private const string _DefaultColor = "goldenrod";

    /// <summary>
    /// Gets or sets the color of the rating mark.
    /// </summary>
    [Parameter]
    public string? Color { get; set; } = _DefaultColor;
}