.main-layout {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-back-color);

    & > .pane-of-split-container:first-of-type {
        transition: all linear 0.1s;

        .sidebar-container {
            display: none;
        }
    }

    & > .spliter-bar {
    }

    & > .pane-of-split-container:last-of-type {
        box-shadow: var(--bs-layout-border-shadow);
    }

    &.sidebar-shown {
        & > .pane-of-split-container:first-of-type {
            transition: none;

            .sidebar-container {
                display: block;
            }
        }
    }

    &.sidebar-hidden {

        & > .pane-of-split-container:first-of-type {
            min-width: 0 !important;
            width: 0 !important;
        }

        & > .spliter-bar {
            display: none;
        }
    }
}

.sidebar-container {
    padding: 20px;
    background-color: var(--bs-back-color);
}
