.blazingstory-button {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 3em;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
}

.blazingstory-button--primary {
    color: white;
    background-color: #1ea7fd;
}

.blazingstory-button--secondary {
    color: #333;
    background-color: #f4f4f4;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.blazingstory-button--small {
    font-size: 12px;
    padding: 10px 16px;
}

.blazingstory-button--medium {
    font-size: 14px;
    padding: 11px 20px;
}

.blazingstory-button--large {
    font-size: 16px;
    padding: 12px 24px;
}
