@attribute [Stories("Examples/Button")]

<Stories TComponent="Button">

    <ArgType For="_ => _.Color" Control="ControlType.Color" />

    <Story Name="Default">

        <Arguments>
            <Arg For="_ => _.Text" Value='"Default"' />
        </Arguments>

        <Template>
            <Button @attributes="context.Args">
            </Button>
        </Template>

    </Story>

</Stories>