svg.svg-icon {
    --bs-svg-icon-size: 14px;
    display: inline-block;
    width: var(--bs-svg-icon-size);
    height: var(--bs-svg-icon-size);
    padding: 1px;
    margin-top: 3px;
    margin-right: 4px;
    fill: currentColor;
}
