.blazingstory-button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 3em;
    font-weight: 700;
    line-height: 1;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.blazingstory-button--primary {
    background-color: var(--bs-accent-color);
    color: var(--bs-white);
}

.blazingstory-button--secondary {
    box-shadow: var(--bs-border-color) 0px 0px 0px 1px inset;
    background-color: var(--bs-inputs-background);
    color: var(--bs-text-color);
}

.blazingstory-button--small {
    padding: 10px 16px;
    font-size: 12px;
}

.blazingstory-button--medium {
    padding: 11px 20px;
    font-size: 14px;
}

.blazingstory-button--large {
    padding: 12px 24px;
    font-size: 16px;
}