.blazingstory-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bs-border-color);
    padding: 15px 20px;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--bs-add-on-panel-back-color);
}

    .blazingstory-header > div {
        display: flex;
        align-items: center;
    }

    .blazingstory-header svg {
        display: inline-block;
        vertical-align: top;
    }

    .blazingstory-header .logo-base {
        fill: var(--bs-inputs-background);
    }

    .blazingstory-header .logo-primary {
        fill: var(--bs-icon-story-container-color);
    }

    .blazingstory-header .logo-secondary {
        fill: var(--bs-icon-story-color);
    }

    .blazingstory-header h1 {
        display: inline-block;
        vertical-align: top;
        margin: 6px 0 6px 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
    }

    .blazingstory-header ::deep button + button {
        margin-left: 10px;
    }

    .blazingstory-header .welcome {
        margin-right: 10px;
        color: var(--bs-caption-text-color);
        font-size: 14px;
    }
