<span style="display: flex;">
    <span style="color: @(this.Color ?? _DefaultColor)">
        @for (var i = 0; i < Math.Min(this.Value, this.Max); i++)
        {
            <span @key="@("star-" + i)">★</span>
        }
    </span>
    <span>
        @for (var i = 0; i < Math.Max(0, this.Max - this.Value); i++)
        {
            <span @key="@("nostar-"+i)">☆</span>
        }
    </span>
</span>

@code
{
    /// <summary>
    /// Gets or sets the rating value.
    /// </summary>
    [Parameter]
    public int Value { get; set; }

    /// <summary>
    /// Gets or sets the maximum rating value.
    /// </summary>
    [Parameter]
    public int Max { get; set; } = 5;

    private const string _DefaultColor = "goldenrod";

    /// <summary>
    /// Gets or sets the color of the rating mark.
    /// </summary>
    [Parameter]
    public string? Color { get; set; } = _DefaultColor;
}
