<div style="display:none;">
    <CascadingValue Value="this.StoriesStore">
        @foreach (var storiesRazor in this._StoriesRazors)
        {
            <CascadingValue @key="storiesRazor.TypeOfStoriesRazor.FullName" Value="storiesRazor">
                <DynamicComponent Type="storiesRazor.TypeOfStoriesRazor" />
            </CascadingValue>
        }
    </CascadingValue>
</div>
