@attribute [Stories("Internals/Components/Buttons/Actions/CornerButton")]

<Stories TComponent="CornerButton">

    <Story Name="Default">

        <Arguments>
            <Arg For="_ => _.ChildContent" Value="_childContent" />
        </Arguments>


        <Template>
            <div style="position:absolute; inset:20px; border: solid 1px var(--bs-border-color);">
                <CornerButton @attributes="context.Args">
                </CornerButton>
            </div>
        </Template>
    </Story>

</Stories>

@code {
    RenderFragment _childContent = @<text>Click me</text>;
}