<CanvasToolbarRegistrar>
    <PopupMenu MarginTop="6">
        <Trigger>
            <IconButton Icon="SvgIconType.ChangeSize" Title="Change the size of the preview" Active="true">
                Small mobile (P)
            </IconButton>
        </Trigger>
        <MenuItems>
            <MenuItem>
                Reset viewport
            </MenuItem>
            <MenuItem>
                Small mobile
            </MenuItem>
            <MenuItem>
                Large mobile
            </MenuItem>
            <MenuItem>
                Tablet
            </MenuItem>
        </MenuItems>
    </PopupMenu>

    <span class="text">320</span>
    <IconButton Icon="SvgIconType.Swap" Title="Rotate viewport" />
    <span class="text">568</span>
</CanvasToolbarRegistrar>

@code
{
}