<div class="stack vertical">

    <ToolBar>
        <TabButtonGroup>
            <TabButton Active="true">
                Controls (0)
            </TabButton>
            <TabButton>
                Actions
            </TabButton>
            <TabButton>
                Interactions
            </TabButton>
        </TabButtonGroup>
    </ToolBar>

    <div class="fill">
        <p>this.RouteData?.View: @(this.RouteData?.View ?? "(null)")</p>
        <p>this.RouteData?.Parameter: @(this.RouteData?.Parameter ?? "(null)")</p>
    </div>

</div>

@code {
    [CascadingParameter]
    public required QueryRouteData RouteData { get; set; }
}