.add-on-panel {
    overflow: hidden;

    .badge {
        margin-left: 10px;
    }
}

.add-on-panel-content {
    overflow: auto;
    position: relative;
}

.add-on-panel-pane {
    display: none;
}

.add-on-panel-pane.active {
    display: block;
}
