@implements IDisposable

<div class="add-on-panel fill stack vertical">

    <ToolBar>
        <TabButtonGroup>
            @foreach (var descriptor in this._AddonPanelDescriptors)
            {
                <TabButton Active="descriptor == this._ActiveAddonPanelDescriptor" OnClick="() => this.OnSelectAddonPanel(descriptor)">
                    @descriptor.Name
                    <Badge Text="@descriptor.Badge" />
                </TabButton>
            }
        </TabButtonGroup>

        <Spacer />

        @if (this._Commands is not null)
        {
            <IconButton Icon="this.ToggleOrientationButtonIcon" Command="this._Commands[CommandType.AddonPanelOrientation]" />
            <IconButton Icon="SvgIconType.CircleClose" Command="this._Commands[CommandType.AddonPanelVisible]" Title="Hide addons [{0}]" FlagStyle="false" />
        }
    </ToolBar>

    <div class="fill add-on-panel-content">
        @if (_ActiveAddonPanelDescriptor != null)
        {
            <DynamicComponent Type="_ActiveAddonPanelDescriptor.PanelComponentType" Parameters="_AddonPanelParameters" />
        }
    </div>

</div>

@code
{
    [Parameter, EditorRequired]
    public Story? Story { get; set; }

    [Parameter]
    public SplitterOrientation SplitterOrientation { get; set; }

    [CascadingParameter]
    public IServiceProvider? Services { get; init; }

    [CascadingParameter]
    public CanvasPageContext? CanvasPageContext { get; init; }

    private SvgIconType ToggleOrientationButtonIcon => this.SplitterOrientation switch
    {
        SplitterOrientation.Horizontal => SvgIconType.RightSidePane,
        _ => SvgIconType.BottomSidePane
    };

    private readonly Dictionary<string, object?> _AddonPanelParameters = new();

    private readonly IEnumerable<AddonPanelDescriptor> _AddonPanelDescriptors = new AddonPanelDescriptor[]
    {
        new ControlsPanelDescriptor(),
        new ActionsPanelDescriptor(),
        // TODO: Not implemented yet.
        //new InteractionsPanelDescriptor()
    };

    private CommandService? _Commands;
    private AddonPanelDescriptor? _ActiveAddonPanelDescriptor;

    public void Dispose()
    {
        this._AddonPanelDescriptors.ForEach(descriptor =>
        {
            descriptor.Updated -= this.Descriptor_Updated;
            descriptor.Dispose();
        });
    }

    protected override void OnParametersSet()
    {
        this._AddonPanelParameters["Story"] = this.Story;
        this._AddonPanelDescriptors.ForEach(descriptor => descriptor.SetParameters(this.Story, this.Services, this.CanvasPageContext));
    }

    protected override void OnInitialized()
    {
        this._Commands = this.Services?.GetRequiredService<CommandService>();
        this._ActiveAddonPanelDescriptor = this._AddonPanelDescriptors.First();
        this._AddonPanelDescriptors.ForEach(descriptor => descriptor.Updated += this.Descriptor_Updated);
    }

    private void Descriptor_Updated(object? sender, EventArgs args)
    {
        this.StateHasChanged();
    }

    private void OnSelectAddonPanel(AddonPanelDescriptor descriptor)
    {
        this._ActiveAddonPanelDescriptor = descriptor;
    }
}
