<div class="add-on-panel stack vertical">

    <ToolBar>
        <TabButtonGroup>
            <TabButton Active="true">
                Controls (@(this.GetParametersCount()))
            </TabButton>
            <TabButton>
                Actions
            </TabButton>
            <TabButton>
                Interactions
            </TabButton>
        </TabButtonGroup>

        <Spacer />

        <IconButton Icon="this.ToggleOrientationButtonIcon" Title="Change addon orientation" OnClick="() => this.OnToggleOrientation.InvokeAsync()" />
        <IconButton Icon="SvgIconType.CircleClose" Title="Hide addons" />
    </ToolBar>

    <div class="fill add-on-panel-content">
        <ControlsPanel Story="this.Story" />
    </div>

</div>

@code
{
    [Parameter, EditorRequired]
    public Story? Story { get; set; }

    [Parameter]
    public EventCallback OnToggleOrientation { get; set; }

    [CascadingParameter]
    internal SplitterOrientation SplitterOrientation { get; set; }

    private SvgIconType ToggleOrientationButtonIcon => this.SplitterOrientation switch
    {
        SplitterOrientation.Horizontal => SvgIconType.RightSidePane,
        _ => SvgIconType.BottomSidePane
    };

    private int GetParametersCount()
    {
        return this.Story?.Context.Parameters
            .Where(p => p.Name != "EventCallback" && !p.Name.StartsWith("EventCallback`"))
            .Count() ?? 0;
    }
}