<div class="stack vertical">

    <ToolBar>
        <TabButtonGroup>
            <TabButton Active="true">
                Controls (@(this.GetParametersCount()))
            </TabButton>
            <TabButton>
                Actions
            </TabButton>
            <TabButton>
                Interactions
            </TabButton>
        </TabButtonGroup>
    </ToolBar>

    <div class="fill">
        <ControlsPanel Story="this.Story" />
    </div>

</div>

@code
{
    [Parameter, EditorRequired]
    public Story? Story { get; set; }

    private int GetParametersCount()
    {
        return this.Story?.Context.Parameters
            .Where(p => p.Name != "EventCallback" && !p.Name.StartsWith("EventCallback`"))
            .Count() ?? 0;
    }
}