.canvas-page-container {
    position: absolute;
    inset: 0;

    .canvas-container {
        flex: 1;

        .canvas-frame-viewport {
            position: relative;
        }
    }

    .pane-of-split-container {
        min-width: 80px;
        min-height: 80px;
    }

    &.splitter-orientation-vertical .add-on-container {
        border-left: 1px solid hsla(203, 50%, 30%, 0.2);
    }

    &.splitter-orientation-horizontal .add-on-container {
        border-top: 1px solid hsla(203, 50%, 30%, 0.2);
    }
}

.addon-pane-hidden {
    .canvas-page-container {
        & > .spliter-bar,
        & > .pane-of-split-container:last-of-type {
            display: none;
        }
    }
}

.add-on-container {
    overflow: hidden;
    background-color: var(--bs-add-on-panel-back-color);
}
