<PageTitle>@_PageTitle</PageTitle>

<div class="canvas-container">
    <h3>Canvas</h3>
</div>

<div class="add-on-container">
    <AddOnPanel></AddOnPanel>
</div>

@code {
    [CascadingParameter]
    public required StoriesStore StoriesStore { get; set; }

    [CascadingParameter]
    public required PathQueryRoutData RouteData { get; set; }

    private string _PageTitle = "";

    private string _LastTitledParameter = "";

    protected override void OnParametersSet()
    {
        if (_LastTitledParameter == this.RouteData.Parameter) return;
        if (this.StoriesStore.TryGetStoryByPath(this.RouteData.Parameter, out var story))
        {
            _PageTitle = string.Join(" / ", story.Title.Split('/')) + " - " + story.Name;
        }
        _LastTitledParameter = this.RouteData.Parameter;
    }
}