.controls-panel {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        color: var(--bs-caption-text-color);
        font-size: 13px;
        line-height: 20px;
        text-align: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        tbody {
            background-color: var(--bs-add-on-panel-back-color);

            tr {
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: var(--bs-add-on-panel-border-color);
            }
        }

        th {
            color: var(--bs-caption-text-half-color1);

            &.name {
                padding: 10px 15px 10px 20px;
                width: 25%;
            }

            &.control {
                display: flex;

                span {
                    flex: 1;
                }

                .reset-button {
                    margin: -4px -12px -4px 0;
                }
            }
        }

        td {
            &.name {
                padding: 10px 0 10px 20px;
                font-weight: bold;
                vertical-align: top;
                width: 25%;
            }

            &.description {
                padding: 10px 15px;
                width: 35%;

                & > .parameter-type-holder {
                    display: flex;
                    gap: 4px;
                    margin-top: 4px;

                    & > .parameter-type {
                        display: inline-block;
                        font-family: var(--bs-monospace-font-family);
                        font-size: 12px;
                        color: var(--bs-dimmed-text-color);
                        background-color: var(--bs-back-color);
                        padding: 2px 5px;
                        line-height: 13px;
                        margin-bottom: 4px;
                        border-radius: 3px;
                        border: 1px solid var(--bs-dimmed-back-color);
                    }
                }
            }

            .required {
                color: #FF4400;
                font-weight: normal;
                font-family: var(--bs-monospace-font-family);
                cursor: help;
            }
        }

        th, td {
            &.control {
                padding: 10px 20px 10px 15px;
                width: 25%;
            }
        }
    }
}
