.controls-panel {
    table {
        border-collapse: collapse;
        border-spacing: 0;
        color: var(--bs-text-color);
        font-size: 13px;
        line-height: 20px;
        text-align: left;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;

        tbody {

            tr {
                border-top-width: 1px;
                border-top-style: solid;
                border-top-color: #e6e6e6;
            }
        }

        th {
            color: rgba(51,51,51,0.75);

            &.name {
                padding: 10px 15px 10px 20px;
                width: 25%;
            }

            &.control {
                display: flex;

                span {
                    flex: 1;
                }

                .reset-button {
                    margin: -4px -12px -4px 0;
                }
            }
        }

        td {
            &.name {
                padding: 10px 0 10px 20px;
                font-weight: bold;
                vertical-align: top;
            }

            .required {
                color: #FF4400;
                font-weight: normal;
                font-family: ui-monospace,Menlo,Monaco,"Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Droid Sans Mono","Courier New",monospace;
                cursor: help;
            }
        }

        th, td {
            &.control {
                padding: 10px 20px 10px 15px;
            }
        }
    }
}
