button.tab-button {
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    color: var(--bs-sidebar-nav-subheading-color);
    border-top: solid 2px transparent;
    border-bottom: solid 3px transparent;

    &.active {
        color: var(--bs-focused-color);
        border-bottom: solid 3px var(--bs-focused-color);
    }
}
