button.tab-button {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    color: var(--bs-dimmed-text-color);
    border-top: solid 2px transparent;
    border-bottom: solid 3px transparent;
    white-space: nowrap;

    &.active {
        color: var(--bs-focused-color);
        border-bottom: solid 3px var(--bs-focused-color);
    }
}
