.toolbar-viewport {
    box-shadow: rgb(0 0 0 / 10%) 0 -1px 0 0 inset;
    height: 40px;
    overflow-y: auto;

    .toolbar-content {
        display: inline-flex;
        align-items: center;
        gap: 4px;
    }
}
