<div class="toolbar-viewport @(CssClass(Class ?? "", new { ToolbarVisible = this.Visible }))">
    <div class="toolbar-content">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public bool Visible { get; set; }
}