.toolbar-viewport {
    --bs-toolbar-height: 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 -1px 0 0 inset;
    height: 0;
    overflow-y: hidden;
    display: flex;
    transition: height linear 0.1s;

    .toolbar-content {
        flex: 1;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        margin-left: 7px;
        margin-right: 7px;
        height: var(--bs-toolbar-height);
        transition: margin-top linear 0.2s;
        margin-top: calc(-1.5 * var(--bs-toolbar-height));

        & > .text {
            font-size: 13px;
            font-weight: bold;
            color: var(--bs-dimmed-text-color);
            padding: 10px;
            margin: 0;
        }
    }

    &.toolbar-visible {
        height: var(--bs-toolbar-height);

        .toolbar-content {
            margin-top: 0;
        }
    }
}
