pre.code-block {
    font-family: var(--bs-monospace-font-family);
    font-size: 13px;
    color: var(--bs-code-text-color);

    code {
        color: var(--bs-code-text-color, #ededed);
        // Prism syntax highlighting
        .token {
            &.punctuation {
                color: var(--bs-code-punctuation-color, #ededed);
            }

            &.tag {
                color: var(--bs-code-tag-color, #ffffb6);
            }

            &.attr-name {
                color: var(--bs-code-attr-name-color, #9cdcfe);
            }

            &.attr-value {
                color: var(--bs-code-attr-value-color, #b474dd);
            }

            &.punctuation {
                color: var(--bs-code-punctuation-color, #ededed);
            }

            &.comment {
                color: var(--bs-code-comment-color, #57a64a);
                font-style: italic;
            }
        }
    }
}
