/* _content/BlazingStory/Components/Layouts/CenteredLayout.razor.rz.scp.css */
.bs-layouts-centered[b-5mld15c6y6] {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
    min-width: fit-content;
    padding: var(--bs-preview-body-margin, 16px);
    display: flex;
    justify-content: safe center;
    align-items: center;
    min-height: calc(100vh / var(--bs-zoom, 1));
}

body[data-bs-parent-frame="docs"] .bs-layouts-centered[b-5mld15c6y6] {
    min-height: 95px;
}

.bs-layouts-centered[b-5mld15c6y6]  .preview-story-area {
    margin: 0;
    padding: var(--bs-preview-body-margin, 16px);
}
/* _content/BlazingStory/Components/Layouts/FullFrameLayout.razor.rz.scp.css */
.bs-layouts-fullframe[b-hivb60922e] {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
    padding: var(--bs-preview-body-margin, 16px);
    --min-height: calc(100vh / var(--bs-zoom, 1));
    min-height: var(--min-height);
}

body[data-bs-parent-frame="docs"] .bs-layouts-fullframe[b-hivb60922e] {
    --min-height: 95px;
}

.bs-layouts-fullframe[b-hivb60922e]  .preview-story-area {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: calc(var(--min-height) - 2 * var(--bs-preview-body-margin, 16px));
    border: solid 1px #ccc;
}
/* _content/BlazingStory/Components/Layouts/NoMarginLayout.razor.rz.scp.css */
.bs-layouts-nomargin[b-8zfdqj2g30]  .preview-story-area {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
    padding: 0;
    min-height: calc(100vh / var(--bs-zoom, 1));
}

body[data-bs-parent-frame="docs"] .bs-layouts-nomargin[b-8zfdqj2g30]  .preview-story-area {
    min-height: 95px;
}
