.settings-page-panel {
    flex: 1;
    overflow: auto;

    & > .viewport {
        padding: 48px 20px;
        margin: 0 auto 0 auto;
        max-width: 600px;
    }

    header {
        display: flex;
        align-items: center;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
        color: var(--bs-text-color);
    }
}
