<ToolBar>
    <TabButtonGroup>
        @foreach (var panel in _SettingsPanels)
        {
            <TabButton @key="panel.Caption" OnClick="() => this.OnClickTabButton(panel.Route)" Active="this.IsActive(panel.Route)">
                @panel.Caption
            </TabButton>
        }
    </TabButtonGroup>

    <Spacer />

    <IconButton Icon="SvgIconType.CircleClose" OnClick="OnClickCloseButton" Title="Close settings page" />

</ToolBar>

<div class="settings-page-panel">
    <div class="viewport">
        <div>
            <QueryRouteView Routes="_SettingsPanels.Select(r => r.Route)" />
        </div>

        <footer>
            <a href="https://github.com/jsakamoto/BlazingStory" target="_blank">GitHub</a>
        </footer>
    </div>
</div>
