.a11y-panel {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;

    .axe-results-views-container {
        flex: 1;
        position: relative;
    }

    .axe-impact-filter {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 0 6px;

        .impact {
            color: var(--bs-axe-impact-color);
            background: var(--bs-axe-impact-bg);
            box-shadow: var(--bs-axe-impact-shadow);
            border: none;
            border-radius: 20px;
            padding: 0 10px;
            font-family: inherit;
            font-size: 12px;
            font-weight: bold;
            line-height: 20px;
            cursor: pointer;
            transition: opacity linear 0.1s;

            &.inactive {
                opacity: 0.4;
            }

            &:focus-visible {
                outline: 2px solid var(--bs-focused-color);
                outline-offset: 2px;
            }
        }
    }
}
