.axe-result-view {
    border-bottom: 1px solid var(--bs-border-color);
    font-size: 14px;

    .header {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 40px;
        padding: 6px 15px;
        cursor: pointer;

        .spacing {
            flex: 1;
        }

        .title {
            font-weight: bold;
            transition: color linear 0.1s;

            &:hover {
                color: var(--bs-focused-color);
            }
        }

        .id {
            font-family: var(--bs-monospace-font-family);
            font-size: 12px;
            color: var(--bs-dimmed-text-color);
        }

        .number-of-nodes {
            color: var(--bs-dimmed-text-color);
        }

        .expansion-indicator {
            color: var(--bs-dimmed-text-color);
            transform: rotate(0deg);
            transition: transform linear 0.1s;
        }

        .impact {
            color: var(--bs-axe-impact-color);
            background: var(--bs-axe-impact-bg);
            box-shadow: var(--bs-axe-impact-shadow);
            border-radius: 20px;
            padding: 0 10px;
            font-size: 12px;
            line-height: 20px;
        }

        .impact- {
            display: none;
        }
    }

    .details {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.2s ease-out;
        overflow: hidden;
    }

    .details-inner {
        min-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow-x: hidden;

        .details-content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 15px 20px 15px;

            .help-link {
                color: var(--bs-focused-color);
                text-decoration: none;
                white-space: nowrap;
            }
        }
    }
}

.axe-result-view.expanded {
    .header {
        .expansion-indicator {
            transform: rotate(-180deg);
        }
    }

    .details {
        grid-template-rows: 1fr;
    }
}

.preferes-color-scheme-light {
    .axe-result-view {
        .impact-critical {
            --bs-axe-impact-color: rgb(255, 255, 255);
            --bs-axe-impact-bg: rgb(209, 56, 0);
            --bs-axe-impact-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 1px inset;
        }

        .impact-serious {
            --bs-axe-impact-color: rgb(194, 52, 0);
            --bs-axe-impact-bg: rgb(255, 240, 235);
            --bs-axe-impact-shadow: rgb(255, 195, 173) 0px 0px 0px 1px inset;
        }

        .impact-moderate {
            --bs-axe-impact-color: rgb(122, 65, 0);
            --bs-axe-impact-bg: rgb(255, 247, 235);
            --bs-axe-impact-shadow: rgb(255, 206, 133) 0px 0px 0px 1px inset;
        }

        .impact-minor {
            --bs-axe-impact-color: rgb(92, 101, 112);
            --bs-axe-impact-bg: rgb(246, 249, 252);
            --bs-axe-impact-shadow: rgba(92, 101, 112, 0.2) 0px 0px 0px 1px inset;
        }
    }
}

.preferes-color-scheme-dark {
    .axe-result-view {
        .impact-critical {
            --bs-axe-impact-color: rgb(255, 105, 51);
            --bs-axe-impact-bg: rgba(255, 255, 255, 0);
            --bs-axe-impact-shadow: rgb(255, 105, 51) 0px 0px 0px 1px inset;
        }

        .impact-serious {
            --bs-axe-impact-color: rgb(255, 105, 51);
            --bs-axe-impact-bg: rgba(255, 255, 255, 0);
            --bs-axe-impact-shadow: rgba(255, 120, 71, 0.15) 0px 0px 0px 1px inset;
        }

        .impact-moderate {
            --bs-axe-impact-color: rgb(255, 173, 51);
            --bs-axe-impact-bg: rgba(255, 255, 255, 0);
            --bs-axe-impact-shadow: rgba(255, 182, 71, 0.15) 0px 0px 0px 1px inset;
        }

        .impact-minor {
            --bs-axe-impact-color: rgb(149, 153, 157);
            --bs-axe-impact-bg: rgb(34, 35, 37);
            --bs-axe-impact-shadow: rgba(149, 153, 157, 0.2) 0px 0px 0px 1px inset;
        }
    }
}
