.bs-layouts-centered {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
    min-width: fit-content;
    padding: var(--bs-preview-body-margin, 16px);
    display: flex;
    justify-content: safe center;
    align-items: center;
    min-height: calc(100vh / var(--bs-zoom, 1));
}

body[data-bs-parent-frame="docs"] .bs-layouts-centered {
    min-height: 95px;
}

.bs-layouts-centered ::deep .preview-story-area {
    margin: 0;
    padding: var(--bs-preview-body-margin, 16px);
}
