.bs-layouts-nomargin {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
}

body[data-bs-parent-frame="docs"] .bs-layouts-nomargin {
    min-height: 95px;
}

body[data-bs-parent-frame="story"] .bs-layouts-nomargin {
    min-height: calc(100vh / var(--bs-zoom, 1));
}
