.bs-layouts-nomargin ::deep .preview-story-area {
    box-sizing: border-box;
    position: relative;
    margin: calc(-1 * var(--bs-preview-body-margin, 16px));
    padding: 0;
    min-height: calc(100vh / var(--bs-zoom, 1));
}

body[data-bs-parent-frame="docs"] .bs-layouts-nomargin ::deep .preview-story-area {
    min-height: 95px;
}
