.icon-button {
    min-width: 28px;
    height: 28px;
    border-radius: 4px;
    padding: 1px 6px;
    color: var(--bs-dimmed-text-color);
    --bs-link-color: var(--bs-dimmed-text-color);
    display: flex;
    align-items: center;

    & > svg {
        width: 16px;
        height: 16px;
        margin: 0;
        pointer-events: none;
    }

    & > .text {
        display: inline-block;
        font-size: 13px;
        margin: 1px 1px 0 9px;
    }

    &.active {
        background-color: var(--bs-hover-back-color);
        background-color: var(--bs-button-flagged-back-color);
        color: var(--bs-focused-color);
        --bs-link-color: var(--bs-focused-color);

        & > .text {
            font-weight: bold;
        }
    }

    &:hover {
        background-color: var(--bs-hover-back-color);
        color: var(--bs-focused-color);
        --bs-link-color: var(--bs-focused-color);
    }
}

a.icon-button {
    padding-top: 1px;
}
