.square-button {
    background: var(--bs-back-color);
    color: var(--bs-inputs-text-color);
    font-weight: bold;
    box-shadow: var(--bs-square-button-box-shadow);
    border-radius: 4px;
    padding: 10px 16px;
    font-size: var(--bs-control-caption-size);
    line-height: 1;
    transition: all 150ms ease-out;

    &:hover {
        background: var(--bs-hover-back-color);
    }

    &:focus {
        box-shadow: rgb(30 167 253) 0 0 0 1px inset;
    }

    &.button-style-slim {
        padding: 8px 10px;
    }
}
