:root {
    // basic sizes
    --bs-text-size: 13px;
    --bs-control-caption-size: 12px;
    // side bar
    --bs-sidebar-gap-size: 16px;
    --bs-sidebar-nav-indent-size: 18px;
    // fonts
    --bs-font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
    --bs-monospace-font-family: ui-monospace,Menlo,Monaco,"Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Droid Sans Mono","Courier New",monospace;
}
