name: tests

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@v4

      # Install .NET SDK
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      # Invoke tests
      - name: Invoke tests
        run: dotnet test --project ./Tests/BlazingStory.Test/BlazingStory.Test.csproj --output detailed
