.vision-filter .menu-item {
  justify-content: start;
  gap: 8px;
  height: unset;
  min-height: 32px;
}
.vision-filter .sample-image {
  outline: dashed 1px red;
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background: linear-gradient(to right, rgb(244, 67, 54), rgb(255, 152, 0), rgb(255, 235, 59), rgb(139, 195, 74), rgb(33, 150, 243), rgb(156, 39, 176));
}
.vision-filter .sample-image.blurred {
  filter: blur(2px);
}
.vision-filter .sample-image.deuteranomaly {
  filter: url("#blazingstory-a11y-vision-deuteranomaly");
}
.vision-filter .sample-image.deuteranopia {
  filter: url("#blazingstory-a11y-vision-deuteranopia");
}
.vision-filter .sample-image.protanomaly {
  filter: url("#blazingstory-a11y-vision-protanomaly");
}
.vision-filter .sample-image.protanopia {
  filter: url("#blazingstory-a11y-vision-protanopia");
}
.vision-filter .sample-image.tritanomaly {
  filter: url("#blazingstory-a11y-vision-tritanomaly");
}
.vision-filter .sample-image.tritanopia {
  filter: url("#blazingstory-a11y-vision-tritanopia");
}
.vision-filter .sample-image.achromatopsia {
  filter: url("#blazingstory-a11y-vision-achromatopsia");
}
.vision-filter .sample-image.grayscale {
  filter: grayscale(100%);
}
.vision-filter .text-content {
  padding-top: 8px;
  padding-bottom: 8px;
}
.vision-filter .text-content .description {
  color: var(--bs-dimmed-text-color);
}
